<template>
  <ResourceDialog
    ref="dialog"
    v-on="$listeners"
    :rules="rules"
    :defaults="defaults"
    entity-name="Serviciu"
    collection-name="services"
  >
    <template slot-scope="{ data }">
      <!-- name field -->
      <ElFormItem label="Nume" prop="name">
        <ElInput v-model="data.name"/>
      </ElFormItem>
      <!-- price.base field -->
      <!-- <ElFormItem label="Pret de baza" prop="price.base">
        <ElInputNumber
          v-model="data.price.base"
          :min="0"
          :precision="2"
          style="width: auto; display: block;"
        />
      </ElFormItem> -->
      <!-- price.rise field -->
      <ElFormItem label="Pret / unitate" prop="price.rise">
        <ElInputNumber
          v-model="data.price.rise"
          :min="0"
          :precision="2"
          style="width: auto; display: block;"
        />
      </ElFormItem>
      <!-- price.unit field -->
      <ElFormItem label="Unitate" prop="price.unit">
        <ElInputNumber v-model="data.price.unit" :min="1" style="width: auto; display: block;"/>
      </ElFormItem>
      <ElFormItem label="Simulare">
        <ul style="line-height: 1.5; margin-top: 8px">
          <li>{{ data.price.unit * 1 }} buc = {{ getPriceFor(data, data.price.unit * 1) }} lei</li>
          <li>{{ data.price.unit * 2 }} buc = {{ getPriceFor(data, data.price.unit * 2) }} lei</li>
          <li>{{ data.price.unit * 3 }} buc = {{ getPriceFor(data, data.price.unit * 3) }} lei</li>
          <li>{{ data.price.unit * 5 }} buc = {{ getPriceFor(data, data.price.unit * 5) }} lei</li>
        </ul>
      </ElFormItem>
    </template>
  </ResourceDialog>
</template>

<script>
import ResourceDialogMixin from "@/mixins/ResourceDialogMixin";

export default {
  mixins: [ResourceDialogMixin],
  computed: {
    rules() {
      return {
        name: [
          {
            required: true,
            message: "Numele este obligatoriu",
            trigger: "blur"
          }
        ],
        price: {
          base: [
            {
              required: true,
              message: "Pretul de baza este obligatoriu",
              trigger: "blur"
            }
          ],
          rise: [
            {
              required: true,
              message: "Pretul variabil este obligatoriu",
              trigger: "blur"
            }
          ],
          unit: [
            {
              required: true,
              message: "Unitatea variabila este obligatorie",
              trigger: "blur"
            }
          ]
        }
      };
    },
    defaults() {
      return {
        price: {
          base: 0,
          rise: 0,
          unit: 1
        }
      };
    }
  },
  methods: {
    getPriceFor(data, quantity) {
      return (
        data.price.base +
        (quantity / data.price.unit) * data.price.rise
      ).toFixed(2);
    }
  }
};
</script>
