<template>
  <div>
    <div v-if="totalPrice">
      Total: {{ totalPrice }} Ron
    </div>
    <ElProgress status="success" :percentage="percentage" :text-inside="true" :stroke-width="18"/>
  </div>
</template>

<script>
export default {
  props: ["projectId"],
  data() {
    return {
      projectPayments: null,
      projectMaterials: null
    };
  },
  created() {
    this.$bind(
      "projectPayments",
      this.$firestore()
        .collection("projectPayments")
        .where("projectId", "==", this.projectId)
        .orderBy("createdAt", "asc")
    );
    this.$bind(
      "projectMaterials",
      this.$firestore()
        .collection("projectMaterials")
        .where("projectId", "==", this.projectId)
        .orderBy("createdAt", "asc")
    );
  },
  computed: {
    totalPrice() {
      if (!this.projectMaterials) return 0;
      return this.projectMaterials.reduce((result, material) => {
        return result + material.data.price;
      }, 0);
    },
    paymentsTotalPrice() {
      if (!this.projectPayments) return 0;
      return this.projectPayments.reduce((result, projectPayment) => {
        return result + projectPayment.data.sum;
      }, 0);
    },
    percentage() {
      if (this.totalPrice && this.paymentsTotalPrice) {
        return Math.round((this.paymentsTotalPrice / this.totalPrice) * 100);
      }
      return 0;
    }
  }
};
</script>
