<template>
  <ElRadioGroup size="mini" :value="value" @input="changeProjectState">
    <ElRadioButton
      v-for="(label, value) in $root.projectStates"
      :key="value"
      :label="value"
    >{{ label }}</ElRadioButton>
  </ElRadioGroup>
</template>

<script>
export default {
  props: ["projectId", "value"],
  methods: {
    changeProjectState(state) {
      this.$firestore()
        .doc(`projects/${this.projectId}`)
        .update({
          state,
          updatedAt: this.$firestore.FieldValue.serverTimestamp()
        });
    }
  }
};
</script>
