<template>
  <div>
    <ElUpload action multiple :http-request="uploadFile" :drag="true" :show-file-list="false">
      <i class="el-icon-upload"></i>
      <div class="ElUpload__text">
        Trage fisierele aici sau da
        <em>click pentru upload</em>
      </div>
    </ElUpload>
    <ul>
      <li v-for="file in files" :key="file.id">
        {{ file.data.name }}
        <ElProgress v-if="file.data.uploading !== undefined" :percentage="file.data.uploading"/>
        <ElButton @click="openFile(file)">Deschide</ElButton>
        <ElButton @click="deleteFile(file)">Sterge</ElButton>
      </li>
    </ul>
  </div>
</template>

<script>
import WindowOpenMixin from "@/mixins/WindowOpenMixin";

export default {
  props: ["projectId"],
  mixins: [WindowOpenMixin],
  data() {
    return {
      files: null
    };
  },
  created() {
    this.$bind(
      "files",
      this.$firestore()
        .collection(`projects/${this.projectId}/files`)
        .orderBy("createdAt", "asc")
    );
  },
  methods: {
    async uploadFile(elementUpload) {
      const firestoreDoc = await this.$firestore()
        .collection(`projects/${this.projectId}/files`)
        .add({
          name: elementUpload.file.name,
          uploading: 0,
          createdAt: this.$firestore.FieldValue.serverTimestamp()
        });
      const firebaseUpload = this.$storage()
        .ref(`${firestoreDoc.path}/${elementUpload.file.name}`)
        .put(elementUpload.file);

      firebaseUpload.on(
        "state_changed",
        snapshot => {
          const { bytesTransferred, totalBytes } = snapshot;
          const percent = Math.round((bytesTransferred / totalBytes) * 100);
          elementUpload.onProgress({ percent });
          firestoreDoc.update({ uploading: percent });
        },
        () => {
          elementUpload.onError();
          firestoreDoc.delete();
        },
        () => {
          elementUpload.onSuccess();
          firestoreDoc.update({
            uploading: this.$firestore.FieldValue.delete()
          });
        }
      );
    },
    async openFile(file) {
      const storageFile = this.$storage().ref(`${file.path}/${file.data.name}`);
      const url = await storageFile.getDownloadURL();
      this.windowOpen(url);
    },
    async deleteFile(file) {
      try {
        await this.$confirm(
          "Fisierul va fi sters de tot. Esti sigur?",
          "Atentie",
          {
            confirmButtonText: "Da",
            cancelButtonText: "Nu",
            type: "warning"
          }
        );
        await this.$firestore()
          .doc(file.path)
          .delete();
      } catch (error) {
        //
      }
    }
  }
};
</script>
