<template>
  <div v-if="materials && projectMaterials" style="width:100%;">
    <!-- form -->
    <div>
      <ResourceSelect
        @change="addProjectMaterial"
        collection-name="materials"
        placeholder="Adauga Material"
      />
    </div>
    <!-- table -->
    <ElTable :data="projectMaterials" row-key="id" style="width: 100%">
      <ElTableColumn label="Nume" width="150">
        <template slot-scope="{ row }">{{ getMaterial(row).data.name }}</template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Pret Client(lei)" width="170">
        <template slot-scope="{ row }">
          <ElInputNumber
            style="width:auto;"
            v-model="row.data.price"
            @change="updateProjectMaterialPrice(row, $event)"
            :disabled="row.data.reserved"
            size="mini"
            :min="0"
            :step="1"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Material(lei)" width="170">
        <template slot-scope="{ row }">
          <ElInputNumber
            style="widht:auto;"
            v-model="row.data.rawPrice"
            @change="updateProjectMaterialRawPrice(row, $event)"
            size="mini"
            :min="0"
            :step="1"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Aux(lei)" width="130">
        <template slot-scope="{ row }">
          <ElInputNumber
            style="width:auto;"
            v-model="row.data.auxPrice"
            @change="updateProjectMaterialAuxPrice(row, $event)"
            size="mini"
            :min="0"
            :step="1"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Servicii" width="200">
        <template slot-scope="{ row }">
          <div v-if="row.data.serviceId !== null">
            {{ getServiceName(row) }}
          </div>
          <ResourceSelect
            v-else
            style="color:black;"
            @change="addProjectService(row, $event)"
            collection-name="services"
            placeholder="Adauga Serviciu"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Cantitate" width="150">
        <template slot-scope="{ row }">
          <ElInputNumber
            v-if="row.data.serviceId"
            style="width:auto;"
            v-model="row.data.serviceTime"
            @change="updateProjectMaterialServiceTime(row, $event)"
            size="mini"
            :min="0"
            :step="1"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Pret(lei)">
        <template v-if="row.data.serviceId" slot-scope="{ row }">{{ getProjectServicePrice(row).toFixed(2) }}</template>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" align="left">
        <template slot-scope="{ row }">
          <ElButton v-if="row.data.serviceId" icon="el-icon-delete" @click="removeProjectMaterialService(row)" 
          size="mini">service</ElButton>
        </template>
      </ElTableColumn>
      <ElTableColumn align="right">
        <template slot-scope="{ row }">
          <ElButton icon="el-icon-delete"  @click="removeProjectMaterial(row)" size="mini">material</ElButton>
        </template>
      </ElTableColumn>
    </ElTable>
  </div>
</template>

<script>
import { keyBy } from "lodash";

export default {
  props: ["projectId"],
  data() {
    return {
      materials: null,
      services: null,
      projectMaterials: null
    };
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    },
    materialsById() {
      return keyBy(this.materials, "id");
    },
    servicesById() {
      return keyBy(this.services, "id");
    },
    materialPrice() {
      if (!this.projectMaterials) return 0;
      return this.projectMaterials.reduce((result, projectMaterial) => {
        return result + this.getProjectMaterialPrice(projectMaterial);
      }, 0);
    },
    totalPrice() {
      if (!this.projectMaterials) return 0;
      return this.projectMaterials.reduce((result, projectMaterial) => {
        return result + this.getProjectMaterialTotalPrice(projectMaterial);
      }, 0);
    },
    servicesPrice() {
      if (!this.projectMaterials) return 0;
      return this.projectMaterials.reduce((result, projectMaterial) => {
        return result + this.getProjectServicePrice(projectMaterial);
      }, 0);
    }
  },
  created() {
    this.$bind(
      "projectMaterials",
      this.$firestore()
        .collection("projectMaterials")
        .where("projectId", "==", this.projectId)
        .orderBy("createdAt", "asc")
    );
    this.$bind("materials", this.$firestore().collection("materials"));
    this.$bind("services", this.$firestore().collection("services"));
  },
  watch: {
    materialPrice() {
      this.$emit("price", this.materialPrice);
    },
    totalPrice() {
      this.$emit("clientPrice", this.totalPrice);
    },
    servicesPrice() {
      this.$emit("servicesPrice", this.servicesPrice);
    }
  },
  methods: {
    addProjectService(projectMaterial, id) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ serviceId: id });
    },
    getMaterial(project) {
      return this.materialsById[project.data.materialId];
    },
    getService(projectMaterial) {
      return this.servicesById[projectMaterial.data.serviceId];
    },
    getServiceName(project) {
      let service = this.servicesById[project.data.serviceId];
      if (service) {
        return this.servicesById[project.data.serviceId].data.name;
      }
      return null;
    },
    getProjectServicePrice(projectMaterial) {
      const service = this.getService(projectMaterial);
      if (!service) return 0;
      return (
        service.data.price.base +
        (projectMaterial.data.serviceTime / service.data.price.unit) *
          service.data.price.rise
      );
    },
    isMaterialAvailable(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      return projectMaterial.data.price <= material.data.currentPrice;
    },
    addProjectMaterial(materialId) {
      this.$firestore()
        .collection("projectMaterials")
        .add({
          materialId,
          serviceId: null,
          serviceTime: 0,
          price: 0,
          rawPrice: 0,
          auxPrice: 0,
          projectId: this.projectId,
          reserved: false,
          createdAt: this.$firestore.FieldValue.serverTimestamp()
        });
    },
    updateProjectMaterialPrice(projectMaterial, price) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ price });
    },
    updateProjectMaterialRawPrice(projectMaterial, rawPrice) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ rawPrice });
    },
    updateProjectMaterialAuxPrice(projectMaterial, auxPrice) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ auxPrice });
    },
    updateProjectMaterialServiceTime(projectMaterial, serviceTime) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ serviceTime });
    },
    removeProjectMaterial(projectMaterial) {
      this.$firestore()
        .doc(projectMaterial.path)
        .delete();
    },
    removeProjectMaterialService(projectMaterial) {
      this.$firestore()
        .doc(projectMaterial.path)
        .update({ serviceId: null });
    },
    reserveMaterial(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      const batch = this.$firestore().batch();

      batch.update(this.$firestore().doc(material.path), {
        currentPrice: material.data.curretPrice - projectMaterial.data.price
      });

      batch.update(this.$firestore().doc(projectMaterial.path), {
        reserved: true
      });

      batch.commit();
    },
    restoreMaterial(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      const batch = this.$firestore().batch();

      batch.update(this.$firestore().doc(material.path), {
        currentprice: material.data.currentprice + projectMaterial.data.price
      });

      batch.update(this.$firestore().doc(projectMaterial.path), {
        reserved: false
      });

      batch.commit();
    },
    getProjectMaterialPrice(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      if (!material) return 0;
      return projectMaterial.data.rawPrice + projectMaterial.data.auxPrice;
    },
    getProjectMaterialTotalPrice(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      if (!material) return 0;
      return projectMaterial.data.price;
    }
  }
};
</script>
