<template>
  <ElSelect
    :value="value"
    v-bind="$attrs"
    v-on="$listeners"
    filterable
    clearable
    default-first-option
  >
    <ElOption
      v-for="(label, value) in $root.projectStates"
      :key="value"
      :value="value"
      :label="label"
    />
  </ElSelect>
</template>

<script>
export default {
  props: ["value"]
};
</script>
