<template>
  <div v-if="services && projectServices" style="width:100%;">
    <!-- form -->
    <div>
      <ResourceSelect
        @change="addProjectService"
        collection-name="services"
        placeholder="Adauga Serviciu"
      />
    </div>
    <!-- table -->
    <ElTable :data="projectServices" row-key="id" style="width: 100%">
      <ElTableColumn label="Nume" width="250">
        <template slot-scope="{ row }">{{ getService(row).data.name }}</template>
      </ElTableColumn>
      <ElTableColumn label="Cant" width="150">
        <template v-if="getService(row).data.name !== 'Lipsa'" slot-scope="{ row }">
          <ElInputNumber
            v-model="row.data.quantity"
            @change="updateProjectServiceQuantity(row, $event)"
            :disabled="row.data.reserved"
            size="mini"
            :min="0"
            :step="1"
          />
        </template>
      </ElTableColumn>
      <ElTableColumn label="Pret(lei)">
        <template v-if="getService(row).data.name !== 'Lipsa'" slot-scope="{ row }">
          {{ getProjectServicePrice(row).toFixed(2) }}
        </template>
      </ElTableColumn>
      <ElTableColumn>
        <template slot-scope="{ row }">
          <ElButton icon="el-icon-delete" v-if="!row.data.reserved" @click="removeProjectService(row)" size="mini">
          </ElButton>
        </template>
      </ElTableColumn>
    </ElTable>
  </div>
</template>

<script>
import { keyBy } from "lodash";

export default {
  props: ["projectId"],
  data() {
    return {
      services: null,
      projectServices: null
    };
  },
  computed: {
    servicesById() {
      return keyBy(this.services, "id");
    },
    totalPrice() {
      if (!this.projectServices) return 0;
      return this.projectServices.reduce((result, projectService) => {
        return result + this.getProjectServicePrice(projectService);
      }, 0);
    }
  },
  created() {
    this.$bind(
      "projectServices",
      this.$firestore()
        .collection("projectServices")
        .where("projectId", "==", this.projectId)
        .orderBy("createdAt", "asc")
    );
    this.$bind("services", this.$firestore().collection("services"));
  },
  watch: {
    totalPrice() {
      this.$emit("price", this.totalPrice);
    }
  },
  methods: {
    getService(projectService) {
      return this.servicesById[projectService.data.materialId];
    },
    addProjectService(materialId) {
      if (materialId !== "ha3MEz68g308yRHRPMu5") {
        this.$firestore()
          .collection("projectServices")
          .add({
            materialId,
            quantity: 0,
            projectId: this.projectId,
            reserved: false,
            createdAt: this.$firestore.FieldValue.serverTimestamp()
          });
      } else {
        this.$firestore()
          .collection("projectServices")
          .add({
            materialId,
            projectId: this.projectId,
            createdAt: this.$firestore.FieldValue.serverTimestamp()
          });
      }
    },
    updateProjectServiceQuantity(projectService, quantity) {
      this.$firestore()
        .doc(projectService.path)
        .update({ quantity });
    },
    removeProjectService(projectService) {
      this.$firestore()
        .doc(projectService.path)
        .delete();
    },
    getProjectServicePrice(projectService) {
      const service = this.getService(projectService);
      if (!service) return 0;
      if (service.data.name === "Lipsa") return 0;
      return (
        service.data.price.base +
        (projectService.data.quantity / service.data.price.unit) *
          service.data.price.rise
      );
    }
  }
};
</script>
