<template>
  <ElSwitch :value="value" @input="changeProjectPriority"/>
</template>

<script>
export default {
  props: ["projectId", "value"],
  methods: {
    changeProjectPriority(priority) {
      this.$firestore()
        .doc(`projects/${this.projectId}`)
        .update({
          priority,
          updatedAt: this.$firestore.FieldValue.serverTimestamp()
        });
    }
  }
};
</script>
