<template>
  <div class="filters">
    <ResourceSelect
      style="width:50vh;"
      class="mr-1"
      v-model="$parent.filters.client"
      collection-name="clients"
      placeholder="Toti Clientii"
    />
    <ProjectStateSelect v-if="!isMobile" class="mr-1" v-model="$parent.filters.state" placeholder="Toate Starile"/>
    <ElDatePicker
      v-if="!isMobile"
      class="mr-1"
      :value="dateRange"
      @input="setDateRange"
      type="daterange"
      start-placeholder="Data Initiala"
      end-placeholder="Data Finala"
      value-format="yyyy-MM-dd"
    />
    <ElButton
      circle
      type="primary"
      icon="el-icon-close"
      @click="$parent.resetFilters"
      v-if="$parent.hasActiveFilters"
    />
  </div>
</template>

<script>
import ProjectStateSelect from "@/components/projects/ProjectStateSelect";

export default {
  components: {
    ProjectStateSelect
  },
  computed: {
    dateRange() {
      const { from, to } = this.$parent.filters;
      return from && to ? [from, to] : undefined;
    },
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    }
  },
  methods: {
    setDateRange(range) {
      this.$set(this.$parent.filters, "from", range[0]);
      this.$set(this.$parent.filters, "to", range[1]);
    }
  }
};
</script>
