<template>
  <div v-if="activities">
    <ul>
      <li v-for="activity in activities" :key="activity.id">{{ activity.data.description }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["projectId"],
  data() {
    return {
      activities: null
    };
  },
  created() {
    const query = this.$firestore()
      .collection("activities")
      .where("projectId", "==", this.projectId)
      .orderBy("createdAt", "desc");

    this.$bind("activities", query);
  }
};
</script>
