<template>
  <div>
    <div class="flex row">
      <ProjectMaterials class="mb-5" :project-id="projectId" @servicesPrice="servicesPrice = $event"  
        @clientPrice="clientPrice = $event" 
        @price="materialsPrice = $event"/>
    </div>
    <div class="flex space-between">
      <div></div>
      <div style="text-align: right;">
        <div class="mb-2">Pret Materiale {{ materialsPrice.toFixed(2) }} lei</div>
        <div class="mb-2">Pret Servicii {{ servicesPrice.toFixed(2) }} lei</div>
        <div
          style="font-weight: bold; font-size: 17px;"
        >
          Cost Lucrare: {{ totalPrice.toFixed(2) }} lei
        </div>
        <div
          style="font-weight: bold; font-size: 20px; margin:10px;"
        >
          Pret pentru Client: {{ clientPrice.toFixed(2) }} lei
        </div>
        <div
          v-if="clientPrice - totalPrice >= 0"
          class="mb-2"
          style="font-weight: bold;font-size: 22px;color:blue;margin:10px;"
        >
          Profit Lucrare {{ (clientPrice - totalPrice).toFixed(2) }} lei
        </div>
        <div
          v-else
          class="mb-2"
          style="font-weight: bold;font-size: 22px;color:red;margin:10px;"
        >
          Pierdere Lucrare {{ (clientPrice - totalPrice).toFixed(2) }} lei
        </div>
         
        <div
          style="font-size: 18px;"
        >
          Achitat {{ paymentsTotal.toFixed(2) }} lei
        </div>
        <div
          style="font-size: 18px;"
        >
          Rest {{ (clientPrice - paymentsTotal).toFixed(2) }} lei
        </div>
      </div>
    </div>
    <ProjectPayments class="mb-5" :project-id="projectId" @price="paymentsTotal = $event"/>
  </div>
</template>

<script>
import ProjectMaterials from "@/components/projects/ProjectMaterials";
import ProjectPayments from "@/components/projects/ProjectPayments";
import { keyBy } from "lodash";

export default {
  props: ["projectId"],
  components: {
    ProjectMaterials,
    ProjectPayments
  },
  created() {
    this.$bind("projects", this.$firestore().collection("projects"));
  },
  data() {
    return {
      margin: 0,
      projects: null,
      servicesPrice: 0,
      materialsPrice: 0,
      clientPrice: 0,
      paymentsTotal: 0
    };
  },
  methods: {
    getProject(id) {
      return this.projectsById[id];
    },
    updateProjectTotalPrice(id, totalPrice) {
      let project = this.getProject(id);
      this.$firestore()
        .doc(project.path)
        .update({ totalPrice });
    }
  },
  computed: {
    projectsById() {
      return keyBy(this.projects, "id");
    },
    totalPrice() {
      return (
        (this.servicesPrice + this.materialsPrice) * (1 + this.margin / 100)
      );
    }
  }
};
</script>
