<template>
  <ResourceDialog
    ref="dialog"
    v-on="$listeners"
    :rules="rules"
    :defaults="defaults"
    entity-name="Lucrare"
    collection-name="projects"
  >
    <template slot-scope="{ data }">
      <!-- name field -->
      <ElFormItem label="Nume" prop="name">
        <ElInput autofocus v-model="data.name"/>
      </ElFormItem>
      <!-- client field -->
      <ElFormItem label="Client" prop="clientId">
        <ResourceSelect
          v-model="data.clientId"
          collection-name="clients"
          placeholder="Selecteaza"
          class="block"
        />
        <ElButton size="mini" @click="$refs.clientDialog.add()">Adauga Client</ElButton>
      </ElFormItem>
      <!-- fsc field -->
      <!-- <ElFormItem label="totalPrice" prop="totalPrice">
        <ElInput v-model="data.totalPrice" />
      </ElFormItem> -->
      <!-- description field -->
      <!-- <ElFormItem label="Adaos comercial" prop="margin">
        <ElInput v-model="data.margin" style="width:auto"/> %
      </ElFormItem> -->
      <ElFormItem label="Specificatie" prop="description">
        <ElInput v-model="data.description" type="textarea" :autosize="{ minRows: 4 }"/>
      </ElFormItem>
      <!-- nested dialogs -->
      <ClientDialog ref="clientDialog" @insert="clientRef => $set(data, 'clientId', clientRef.id)"/>
    </template>
  </ResourceDialog>
</template>

<script>
import ClientDialog from "@/components/clients/ClientDialog";
import ResourceDialogMixin from "@/mixins/ResourceDialogMixin";

export default {
  mixins: [ResourceDialogMixin],
  components: {
    ClientDialog
  },
  computed: {
    rules() {
      return {
        name: [
          {
            required: true,
            message: "Numele este obligatoriu",
            trigger: "blur"
          }
        ],
        clientId: [
          {
            required: true,
            message: "Clientul este obligatoriu",
            trigger: "change"
          }
        ]
      };
    },
    defaults() {
      return {
        state: "plan",
        priority: false
      };
    }
  }
};
</script>
