<template>
  <div class="ProjectDiagram" style="display: flex; flex-direction: row;">
    <Canvas
      :nodes="nodes"
      :selection.sync="selection"
      @moveNode="moveNode"
      @createNode="createNode"
      @deleteNode="deleteNode"
      @createEdge="createEdge"
      @deleteEdge="deleteEdge"
    />
    <div style="margin-left: 30px;">
      <ElButton type="primary" @click="saveTasks">Salveaza</ElButton>
      <ElButton v-if="tasksUpdated" @click="loadTasks">Actualizeaza</ElButton>
      <ElCard v-if="selection && selection.nodeId" style="margin-top: 20px;">
        <ElForm label-position="top">
          <ElFormItem label="Nume">
            <ElInput v-model="nodes[selection.nodeId].name"/>
          </ElFormItem>
          <ElFormItem label="Categorie">
            <ResourceSelect
              class="block"
              v-model="nodes[selection.nodeId].categoryId"
              collection-name="taskCategories"
              placeholder="Categorie"
            />
          </ElFormItem>
          <ElFormItem label="Stare">
            <ElRadioGroup v-model="nodes[selection.nodeId].state">
              <ElRadioButton :label="0">Neinceput</ElRadioButton>
              <ElRadioButton :label="1">In Lucru</ElRadioButton>
              <ElRadioButton :label="2">Oprit</ElRadioButton>
              <ElRadioButton :label="3">Finalizat</ElRadioButton>
            </ElRadioGroup>
          </ElFormItem>
          <ElFormItem label="Alerta">
            <ElInput v-model="nodes[selection.nodeId].alert"/>
          </ElFormItem>
          <ElFormItem label="Timp Asteptare">
            <ElInputNumber
              v-model="nodes[selection.nodeId].waitTime"
              :min="0"
              style="width: 100%; display: block;"
            />
          </ElFormItem>
        </ElForm>
      </ElCard>
      <!-- <pre>{{ getUpdateDiff() }}</pre> -->
    </div>
  </div>
</template>

<script>
import { diff } from "just-diff";
import { random, cloneDeep } from "lodash";
import Canvas from "@/components/projects/diagram/Canvas";

export default {
  props: ["projectId", "tasks"],
  components: {
    Canvas
  },
  data() {
    return {
      nodes: null,
      selection: null,
      tasksUpdated: false
    };
  },
  created() {
    this.loadTasks();
  },
  watch: {
    tasks() {
      this.tasksUpdated = true;
    }
  },
  methods: {
    loadTasks() {
      this.tasksUpdated = false;
      this.nodes = cloneDeep(this.tasks || {});
      this.nodesBefore = cloneDeep(this.tasks || {});
    },
    saveTasks() {
      this.$firestore()
        .doc(`projects/${this.projectId}`)
        .update(
          this.getUpdateDiff({
            updatedAt: this.$firestore.FieldValue.serverTimestamp()
          })
        );
    },
    getUpdateDiff(initialValues = {}) {
      const deleteField = this.$firestore.FieldValue.delete();
      return diff(this.nodesBefore, this.nodes).reduce((diff, change) => {
        const path = ["tasks"].concat(change.path).join(".");
        diff[path] = change.op === "remove" ? deleteField : change.value;
        return diff;
      }, initialValues);
    },
    moveNode(nodeId, position) {
      this.nodes[nodeId].position = position;
    },
    createNode(position) {
      const nodeId = `n${random(0, 1000)}`;
      this.$set(this.nodes, nodeId, {
        name: "Fara Nume",
        state: 0,
        waitTime: 0,
        position,
        dependencies: {}
      });
      this.selection = { nodeId };
    },
    deleteNode(nodeId) {
      this.$delete(this.nodes, nodeId);
      for (const fromId in this.nodes) {
        if (this.nodes[fromId].dependencies[nodeId]) {
          this.deleteEdge(fromId, nodeId);
        }
      }
    },
    createEdge(fromId, toId) {
      this.$set(this.nodes[fromId].dependencies, toId, true);
    },
    deleteEdge(fromId, toId) {
      this.$delete(this.nodes[fromId].dependencies, toId);
    }
  }
};
</script>

<style>
.ProjectDiagram .el-form-item__label {
  padding: 0;
}
</style>
