<template>
  <div v-if="projectPayments">
    <!-- form -->
    <div class="flex-row">
      <div style="font-weight: bold; font-size: 18px;">
        <div align="left" class="flex-column">
          <h2>Achita</h2>
          <div>
            <ElInputNumber v-model="recivedSum" size="mini" class="mr-1" style="width:200px;"/> lei
            <ElButton style="margin-top:20px;" @click="addProjectPayment">Plateste</ElButton>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <ElTable :data="projectPayments" row-key="id" style="width: 100%">
      <ElTableColumn v-if="!isMobile" type="index" width="50"/>
      <ElTableColumn label="Data">
        <TimeAgo
          slot-scope="{ row }"
          v-if="row.data.createdAt"
          :date="row.data.createdAt.toDate()"
        />
      </ElTableColumn>
      <ElTableColumn label="Suma">
        <template slot-scope="{ row }">{{ row.data.sum }} lei</template>
      </ElTableColumn>
      <ElTableColumn align="right">
        <template slot-scope="{ row }">
          <ElButton v-if="!row.data.reserved" @click="removeProjectPayment(row)" size="mini">Sterge</ElButton>
        </template>
      </ElTableColumn>
    </ElTable>
  </div>
</template>

<script>
import { keyBy } from "lodash";

export default {
  props: ["projectId"],
  data() {
    return {
      projectPayments: null,
      recivedSum: 0
    };
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    },
    paymentsById() {
      return keyBy(this.payments, "id");
    },
    totalPrice() {
      if (!this.projectPayments) return 0;
      return this.projectPayments.reduce((result, projectPayment) => {
        return result + projectPayment.data.sum;
      }, 0);
    }
  },
  created() {
    this.$bind(
      "projectPayments",
      this.$firestore()
        .collection("projectPayments")
        .where("projectId", "==", this.projectId)
        .orderBy("createdAt", "asc")
    );
  },
  watch: {
    totalPrice() {
      this.$emit("price", this.totalPrice);
    }
  },
  methods: {
    getMaterial(projectMaterial) {
      return this.materialsById[projectMaterial.data.materialId];
    },
    isMaterialAvailable(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      return projectMaterial.data.price <= material.data.currentPrice;
    },
    addProjectPayment() {
      this.$firestore()
        .collection("projectPayments")
        .add({
          projectId: this.projectId,
          createdAt: this.$firestore.FieldValue.serverTimestamp(),
          sum: this.recivedSum
        });
    },
    removeProjectPayment(projectPayment) {
      this.$firestore()
        .doc(projectPayment.path)
        .delete();
    },
    reserveMaterial(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      const batch = this.$firestore().batch();

      batch.update(this.$firestore().doc(material.path), {
        currentPrice: material.data.curretPrice - projectMaterial.data.price
      });

      batch.update(this.$firestore().doc(projectMaterial.path), {
        reserved: true
      });

      batch.commit();
    },
    restoreMaterial(projectMaterial) {
      const material = this.getMaterial(projectMaterial);
      const batch = this.$firestore().batch();

      batch.update(this.$firestore().doc(material.path), {
        currentprice: material.data.currentprice + projectMaterial.data.price
      });

      batch.update(this.$firestore().doc(projectMaterial.path), {
        reserved: false
      });

      batch.commit();
    },
    getProjectPaymentPrice(projectPayment) {
      const material = projectPayment;
      if (!material) return 0;
      return projectPayment.data.sum;
    }
  }
};
</script>
