<template>
  <div class="filters">
    <div class="mr-1" style="display: inline-block; width: 194px">
      <ElInput placeholder="Nume" v-model="$parent.filters.name" clearable/>
    </div>
    <ResourceSelect
      class="mr-1"
      v-model="$parent.filters.category"
      collection-name="materialCategories"
      placeholder="Toate Categoriile"
    />
    <!-- <ElButton
      class="mr-1"
      :type="$parent.filters.fsc ? 'primary' : 'default'"
      @click="$set($parent.filters, 'fsc', !$parent.filters.fsc)"
    >FSC</ElButton> -->
    <ElButton
      circle
      type="primary"
      icon="el-icon-close"
      @click="$parent.resetFilters"
      v-if="$parent.hasActiveFilters"
    />
  </div>
</template>
