<template>
  <ResourceDialog
    ref="dialog"
    v-on="$listeners"
    :rules="rules"
    entity-name="Categorie"
    collection-name="taskCategories"
  >
    <template slot-scope="{ data }">
      <!-- name field -->
      <ElFormItem label="Nume" prop="name">
        <ElInput v-model="data.name"/>
      </ElFormItem>
      <!-- color field -->
      <ElFormItem label="Culoare" prop="color">
        <ElColorPicker
          v-model="data.color"
          color-format="hex"
          @active-change="value => data.color = value"
        />
      </ElFormItem>
    </template>
  </ResourceDialog>
</template>

<script>
import ResourceDialogMixin from "@/mixins/ResourceDialogMixin";

export default {
  mixins: [ResourceDialogMixin],
  computed: {
    rules() {
      return {
        name: [
          {
            required: true,
            message: "Numele este obligatoriu",
            trigger: "blur"
          }
        ],
        color: [
          {
            required: true,
            message: "Culoarea este obligatorie",
            trigger: "blur"
          }
        ]
      };
    }
  }
};
</script>
