<template>
  <div>
    <ElCard
      v-for="task in categoryTasks"
      :key="task.id"
      :class="{ priority: task.project.data.priority }"
      @click.native="$emit('open', task)"
    >
      <ElAlert
        v-if="task.data.alert"
        show-icon
        type="error"
        title="Atentie!"
        :class="$dot('mb-2')"
        :description="task.data.alert"
        :closable="false"
      ></ElAlert>
      <div style="margin-bottom: 16px;">
        <b>Lucrare</b>
        {{ task.project.data.name }}
        <br>
        <b>Client</b>
        {{ task.client.data.name }}
      </div>
      {{ task.data.name }} ({{ task.data.state }})
      <div v-if="task.readyAt">
        <TimeAgo :date="task.readyAt"/>
      </div>
    </ElCard>
  </div>
</template>

<script>
export default {
  props: ["tasks", "categoryId"],
  computed: {
    categoryTasks() {
      return this.tasks.filter(
        task => task.data.categoryId === this.categoryId
      );
    }
  }
};
</script>

<style>
.el-card {
  margin-bottom: 16px;
}
.el-card.priority {
  border-left: 8px solid #e3342f;
}
</style>
