<template>
  <ElDialog v-if="task" :visible.sync="visible" title="Sarcina" width="60%">
    <div>
      <ElSelect
        placeholder="Adauga Angajat"
        :value="null"
        @change="addEmployee"
        filterable
        default-first-option
      >
        <ElOption
          v-for="employee in employees"
          :key="employee.id"
          :value="employee.id"
          :label="employee.data.name"
        />
      </ElSelect>
      <template v-if="task.employees">
        <ElButton
          v-for="employeeId in Object.keys(task.employees)"
          :key="employeeId"
          @click="removeEmployee(employeeId)"
          icon="el-icon-close"
        >{{ employeesById[employeeId].data.name }}</ElButton>
      </template>
    </div>
    <ElButton v-if="task.state !== 1" @click="startTask">Start</ElButton>
    <ElButton v-if="task.state === 1" @click="stopTask">Stop</ElButton>
    <ElButton v-if="task.state === 1" @click="completeTask">Finalizeaza</ElButton>
    <ElDatePicker
      :value="task.releaseAt && task.releaseAt.toDate()"
      @input="changeReleaseAt"
      type="datetime"
      format="dd-MM-yyyy HH:mm"
    />
  </ElDialog>
</template>

<script>
import { mapKeys, keyBy } from "lodash";
import { addHours } from "date-fns";

export default {
  data() {
    return {
      visible: false,
      project: null,
      taskId: null,
      projectId: null,
      employees: null
    };
  },
  created() {
    this.$bind("employees", this.$firestore().collection("employees"));
  },
  computed: {
    task() {
      if (!this.project) return null;
      return this.project.data.tasks[this.taskId];
    },
    employeesById() {
      return keyBy(this.employees, "id");
    }
  },
  methods: {
    open(taskId, projectId) {
      this.visible = true;
      this.taskId = taskId;
      this.projectId = projectId;
      this.$bind("project", this.$firestore().doc(`projects/${projectId}`));
    },
    update(data) {
      this.$firestore()
        .doc(`projects/${this.projectId}`)
        .update({
          ...mapKeys(data, (value, key) => `tasks.${this.taskId}.${key}`),
          updatedAt: this.$firestore.FieldValue.serverTimestamp()
        });
    },
    startTask() {
      this.update({
        state: 1
      });
    },
    stopTask() {
      this.update({
        state: 2,
        releaseAt: this.$firestore.Timestamp.fromDate(
          addHours(new Date(), this.task.waitTime || 0)
        )
      });
    },
    completeTask() {
      this.update({
        state: 3,
        releaseAt: this.$firestore.Timestamp.fromDate(
          addHours(new Date(), this.task.waitTime || 0)
        )
      });
    },
    changeReleaseAt(event) {
      this.update({
        releaseAt: event
          ? this.$firestore.Timestamp.fromDate(new Date(event))
          : this.$firestore.FieldValue.delete()
      });
    },
    addEmployee(employeeId) {
      const key = `employees.${employeeId}`;
      this.update({
        [key]: true
      });
    },
    removeEmployee(employeeId) {
      const key = `employees.${employeeId}`;
      this.update({
        [key]: this.$firestore.FieldValue.delete()
      });
    }
  }
};
</script>
