<template>
  <div class="filters">
    <div class="mr-1" style="display: inline-block; width: 194px">
      <ElInput placeholder="Nume" v-model="$parent.filters.name" clearable/>
    </div>
    <ElButton
      circle
      type="primary"
      icon="el-icon-close"
      @click="$parent.resetFilters"
      v-if="$parent.hasActiveFilters"
    />
  </div>
</template>
