<template>
  <div>Neconfigurat</div>
</template>

<script>
function getOptions() {
  return {};
}
function getRecipe() {
  return {
    layouts: [],
    components: []
  };
}

export default {
  getOptions,
  getRecipe
};
</script>
