<template>
  <ElForm label-width="100px" label-position="left">
    <ElFormItem label="Tiraj">
      <ElInputNumber v-model="options.quantity" :step="100" />
    </ElFormItem>
    <hr class="spacer" />
    <ElFormItem label="Formate">
      <ElDropdown trigger="click" placement="bottom-start">
        <ElButton size="mini" class="block">
          Selecteaza
          <i class="el-icon-arrow-right el-icon--right"></i>
        </ElButton>
        <ElDropdownMenu slot="dropdown">
          <ElDropdownItem @click.native="setFormat(210, 297)">A4 (210 x 297 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(297, 210)">A4 (297 x 210 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(148, 210)">A5 (148 x 210 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 148)">A5 (210 x 148 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(105, 148)">A6 (105 x 148 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(148, 105)">A6 (148 x 105 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(99, 210)">F5 (99 x 210 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 99)">F5 (210 x 99 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 210)">210 x 210 mm</ElDropdownItem>
        </ElDropdownMenu>
      </ElDropdown>
    </ElFormItem>
    <ElFormItem label="Latime">
      <ElInputNumber v-model="options.width" />
    </ElFormItem>
    <ElFormItem label="Inaltime">
      <ElInputNumber v-model="options.height" />
    </ElFormItem>
    <hr class="spacer" />
    <h4>Interior</h4>
    <ElFormItem label="Grosime">
      <ElSelect v-model="options.interior.weight">
        <ElOption
          v-for="weight in interiorWeights"
          :value="weight"
          :label="`${weight}g`"
          :key="weight"
        />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Pagini">
      <ElSelect v-model="options.interior.pages">
        <ElOption v-for="i in range(64, 400, 4)" :key="i" :value="i" :label="`${i} pagini`" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Culori">
      <ElInputNumber v-model="options.interior.colors" />
    </ElFormItem>
    <hr class="spacer" />
    <h4>Coperta</h4>
    <ElFormItem label="Hartie">
      <ElSelect v-model="options.cover.sheetCategoryId" @change="adjustCoverWeight">
        <ElOption value="kneVzVI5N9NtdzQG2Ihz" label="Carton Mat" />
        <ElOption value="zeIfm7sFicTJLtt1pZBD" label="Carton Lucios" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Grosime">
      <ElSelect v-model="options.cover.weight">
        <ElOption
          v-for="weight in coverWeights"
          :value="weight"
          :label="`${weight}g`"
          :key="weight"
        />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Fețe">
      <ElSelect v-model="options.cover.frontAndBack">
        <ElOption :value="false" label="Doar Fața" />
        <ElOption :value="true" label="Fața + Verso" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Culori">
      <ElInputNumber v-model="options.cover.colors" />
    </ElFormItem>
    <ElFormItem label="Lacuire">
      <ElSwitch v-model="options.cover.varnish" />
    </ElFormItem>
  </ElForm>
</template>

<script>
import { range } from "lodash";
import {
  autoLayout,
  groupSheets,
  omitFalseValues,
  VARNISH_SERVICE,
  generalComponent,
  COLLATION_SERVICE,
  BOOK_CUTTING_SERVICE,
  createOffsetComponent,
  PERFECT_BINDING_SERVICE,
  getSignatureFoldingService
} from "@/recipes/utils";

function getOptions() {
  return {
    quantity: 200,
    width: 148,
    height: 210,
    interior: {
      sheetCategoryId: "gFlyF5FON8zYVOxxLapa",
      weight: 80,
      pages: 84,
      colors: 1
    },
    cover: {
      sheetCategoryId: "zeIfm7sFicTJLtt1pZBD",
      weight: 130,
      frontAndBack: false,
      colors: 4,
      varnish: false
    }
  };
}
function getRecipe(options, printer, sheets) {
  const interiorLayout = getInteriorLayout(options, printer, sheets);
  const coverLayout = getCoverLayout(options, printer, sheets);
  return {
    layouts: [interiorLayout, coverLayout],
    components: [
      ...getInteriorComponents(options, interiorLayout),
      getCoverComponent(options, coverLayout),
      getGeneralComponent()
    ]
  };
}
function getInteriorLayout(options, printer, sheets) {
  const largeSheets = sheets
    .filter(
      sheet =>
        sheet.data.categoryId === options.interior.sheetCategoryId &&
        sheet.data.weight === options.interior.weight
    )
    .map(material => ({
      materialId: material.id,
      width: material.data.width,
      height: material.data.height
    }));
  const finalSheet = {
    width: options.width,
    height: options.height
  };

  return autoLayout({
    largeSheets,
    finalSheet,
    printer,
    type: "foldable"
  });
}
function getInteriorComponents(options, interiorLayout) {
  const groups = groupSheets(
    options.interior.pages / 2,
    interiorLayout.finalSheetsOnPrintSheet
  );
  return groups.map((group, index) => {
    const offsetComponent = createOffsetComponent({
      layout: interiorLayout,
      colors: options.interior.colors,
      frontAndBack: true,
      sheetsInGroup: group
    });

    return {
      ...offsetComponent,
      name: `Coala #${index + 1}`,
      services: omitFalseValues({
        ...offsetComponent.services,
        faltuire: {
          id: getSignatureFoldingService(
            interiorLayout.finalSheetsOnPrintSheet * 2
          ),
          value: 1
        },
        adunat: {
          id: COLLATION_SERVICE,
          value: 1
        }
      })
    };
  });
}
function getCoverLayout(options, printer, sheets) {
  const largeSheets = sheets
    .filter(
      sheet =>
        sheet.data.categoryId === options.cover.sheetCategoryId &&
        sheet.data.weight === options.cover.weight
    )
    .map(material => ({
      materialId: material.id,
      width: material.data.width,
      height: material.data.height
    }));
  const finalSheet = {
    width: options.width * 2 + options.interior.pages / 50,
    height: options.height
  };

  return autoLayout({
    largeSheets,
    finalSheet,
    printer,
    type: options.cover.frontAndBack ? "turnable" : "default"
  });
}
function getCoverComponent(options, coverLayout) {
  const offsetComponent = createOffsetComponent({
    layout: coverLayout,
    colors: options.cover.colors,
    frontAndBack: options.cover.frontAndBack,
    sheetsInGroup: 1
  });

  return {
    ...offsetComponent,
    name: "Coperta",
    services: omitFalseValues({
      ...offsetComponent.services,
      lacuire: options.cover.varnish && {
        id: VARNISH_SERVICE,
        value: 1
      }
    })
  };
}
function getGeneralComponent() {
  return {
    ...generalComponent,
    services: {
      ...generalComponent.services,
      rotunjire: {
        id: BOOK_CUTTING_SERVICE,
        value: 1
      },
      brosat: {
        id: PERFECT_BINDING_SERVICE,
        value: 1
      }
    }
  };
}

export default {
  props: ["options", "sheets"],
  getOptions,
  getRecipe,
  computed: {
    interiorWeights() {
      return this.getWeightsByCategory(this.options.interior.sheetCategoryId);
    },
    coverWeights() {
      return this.getWeightsByCategory(this.options.cover.sheetCategoryId);
    }
  },
  methods: {
    range,
    setFormat(width, height) {
      this.options.width = width;
      this.options.height = height;
    },
    getWeightsByCategory(categoryId) {
      return this.sheets
        .filter(sheet => sheet.data.categoryId === categoryId)
        .map(sheet => sheet.data.weight)
        .filter((sheet, index, self) => self.indexOf(sheet) === index)
        .sort((a, b) => a - b);
    },
    adjustInteriorWeight() {
      const weights = this.interiorWeights;
      this.options.interior.weight =
        weights.find(weight => weight >= this.options.interior.weight) ||
        weights[0];
    },
    adjustCoverWeight() {
      const weights = this.coverWeights;
      this.options.cover.weight =
        weights.find(weight => weight >= this.options.cover.weight) ||
        weights[0];
    }
  }
};
</script>
