<template>
  <ElForm label-width="100px" label-position="left">
    <ElFormItem label="Tiraj">
      <ElInputNumber v-model="options.quantity" :step="100" />
    </ElFormItem>
    <hr class="spacer" />
    <ElFormItem label="Formate">
      <ElDropdown trigger="click" placement="bottom-start">
        <ElButton size="mini" class="block">
          Selecteaza
          <i class="el-icon-arrow-right el-icon--right"></i>
        </ElButton>
        <ElDropdownMenu slot="dropdown">
          <ElDropdownItem @click.native="setFormat(210, 297)">A4 (210 x 297 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(297, 210)">A4 (297 x 210 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(148, 210)">A5 (148 x 210 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 148)">A5 (210 x 148 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(105, 148)">A6 (105 x 148 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(148, 105)">A6 (148 x 105 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(99, 210)">F5 (99 x 210 mm) portrait</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 99)">F5 (210 x 99 mm) landscape</ElDropdownItem>
          <ElDropdownItem @click.native="setFormat(210, 210)">210 x 210 mm</ElDropdownItem>
        </ElDropdownMenu>
      </ElDropdown>
    </ElFormItem>
    <ElFormItem label="Latime">
      <ElInputNumber v-model="options.width" />
    </ElFormItem>
    <ElFormItem label="Inaltime">
      <ElInputNumber v-model="options.height" />
    </ElFormItem>
    <hr class="spacer" />
    <ElFormItem label="Hartie">
      <ElSelect v-model="options.sheetCategoryId" @change="adjustWeight">
        <ElOption value="gFlyF5FON8zYVOxxLapa" label="Offset" />
        <ElOption value="kneVzVI5N9NtdzQG2Ihz" label="Carton Mat" />
        <ElOption value="zeIfm7sFicTJLtt1pZBD" label="Carton Lucios" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Grosime">
      <ElSelect v-model="options.weight">
        <ElOption v-for="weight in weights" :value="weight" :label="`${weight}g`" :key="weight" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Fețe">
      <ElSelect v-model="options.frontAndBack">
        <ElOption :value="false" label="Doar Fața" />
        <ElOption :value="true" label="Fața + Verso" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Culori">
      <ElInputNumber v-model="options.colors" />
    </ElFormItem>
    <hr class="spacer" />
    <ElFormItem label="Faltuire">
      <ElSelect v-model="options.folding">
        <ElOption :value="false" label="Fara" />
        <ElOption :value="4" label="4 pagini" />
        <ElOption :value="6" label="6 pagini" />
      </ElSelect>
    </ElFormItem>
    <ElFormItem label="Biguire">
      <ElSwitch v-model="options.creasing" />
    </ElFormItem>
    <ElFormItem label="Lacuire">
      <ElSwitch v-model="options.varnish" />
    </ElFormItem>
  </ElForm>
</template>

<script>
import {
  autoLayout,
  omitFalseValues,
  VARNISH_SERVICE,
  CREASING_SERVICE,
  generalComponent,
  createOffsetComponent,
  getLinearFoldingService
} from "@/recipes/utils";

function getOptions() {
  return {
    quantity: 1000,
    width: 148,
    height: 210,
    sheetCategoryId: "gFlyF5FON8zYVOxxLapa",
    weight: 80,
    frontAndBack: true,
    colors: 4,
    folding: false,
    creasing: false,
    varnish: false
  };
}
function getRecipe(options, printer, sheets) {
  const mainLayout = getMainLayout(options, printer, sheets);
  const mainComponent = getMainComponent(options, mainLayout);

  return {
    layouts: [mainLayout],
    components: [mainComponent, generalComponent]
  };
}
function getMainLayout(options, printer, sheets) {
  const largeSheets = sheets
    .filter(
      sheet =>
        sheet.data.categoryId === options.sheetCategoryId &&
        sheet.data.weight === options.weight
    )
    .map(material => ({
      materialId: material.id,
      width: material.data.width,
      height: material.data.height
    }));
  const finalSheet = {
    width: options.width,
    height: options.height
  };

  return autoLayout({
    largeSheets,
    finalSheet,
    printer,
    type: options.frontAndBack ? "turnable" : "default"
  });
}
function getMainComponent(options, mainLayout) {
  const offsetComponent = createOffsetComponent({
    layout: mainLayout,
    colors: options.colors,
    frontAndBack: options.frontAndBack,
    sheetsInGroup: 1
  });

  return {
    ...offsetComponent,
    name: "Coala #1",
    services: omitFalseValues({
      ...offsetComponent.services,
      faltuire: options.folding && {
        id: getLinearFoldingService(options.folding),
        value: mainLayout.finalSheetsOnPrintSheet
      },
      biguire: options.creasing && {
        id: CREASING_SERVICE,
        value: 1
      },
      lacuire: options.varnish && {
        id: VARNISH_SERVICE,
        value: 1
      }
    })
  };
}

export default {
  getRecipe,
  getOptions,
  props: ["options", "sheets"],
  computed: {
    weights() {
      return this.getWeightsByCategory(this.options.sheetCategoryId);
    }
  },
  methods: {
    setFormat(width, height) {
      this.options.width = width;
      this.options.height = height;
    },
    getWeightsByCategory(categoryId) {
      return this.sheets
        .filter(sheet => sheet.data.categoryId === categoryId)
        .map(sheet => sheet.data.weight)
        .filter((sheet, index, self) => self.indexOf(sheet) === index)
        .sort((a, b) => a - b);
    },
    adjustWeight() {
      this.options.weight =
        this.weights.find(weight => weight >= this.options.weight) ||
        this.weights[0];
    }
  }
};
</script>
