<template>
  <div v-if="layout" class="flex row" style="margin: 10px;">
    <div style="margin-right: 10px;">
      <div>Acoperire: {{ (layout.coverage * 100).toFixed(2) }}%</div>
      <div>Coala Mare: {{ layout.largeSheet.width }} x {{ layout.largeSheet.height }}</div>
      <div>Coala Tipar: {{ layout.printSheet.width }} x {{ layout.printSheet.height }}</div>
      <div>Coala Finala: {{ layout.finalSheet.width }} x {{ layout.finalSheet.height }}</div>
    </div>
    <div class="largeSheet">
      <div v-for="printY in range(1, layout.largeSheetLayout.y)" :key="printY" class="flex row">
        <div
          v-for="printX in range(1, layout.largeSheetLayout.x)"
          :key="printX"
          class="printSheet flex col center"
          :style="getBoxStyle(layout.printSheet)"
        >
          <div
            v-for="finalY in range(1, layout.printSheetLayout.y)"
            :key="finalY"
            class="flex row center"
          >
            <div
              v-for="finalX in range(1, layout.printSheetLayout.x)"
              :key="finalX"
              class="finalSheet"
              :style="getBoxStyle(layout.finalSheet)"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["layout"],
  computed: {
    ratio() {
      return 300 / this.layout.largeSheet.height;
    }
  },
  methods: {
    range(a, b) {
      let i;
      const range = [];
      for (i = a; i <= b; i++) {
        range.push(i);
      }
      return range;
    },
    getBoxStyle({ width, height }) {
      return {
        width: width * this.ratio + "px",
        height: height * this.ratio + "px"
      };
    }
  }
};
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.largeSheet {
}
.printSheet {
  background: #6cb2eb;
  border: 1px solid black;
}
.finalSheet {
  background: #fff382;
  border: 1px solid black;
}
</style>
