<template>
  <div style="position: absolute; top: 75px; right: 20px;">
    <ElButton type="primary" @click="visible = true">Vezi Stocuri</ElButton>
    <ElDialog :visible.sync="visible" title="Stocuri Hartie" @open="selectedCategoryId = null">
      <template v-if="materials">
        <ElSelect
          class="mr-2"
          v-model="selectedCategoryId"
          @change="selectedWeight = null"
          placeholder="Categorie"
          clearable
        >
          <ElOption value="gFlyF5FON8zYVOxxLapa" label="Offset" />
          <ElOption value="kneVzVI5N9NtdzQG2Ihz" label="Carton Mat" />
          <ElOption value="zeIfm7sFicTJLtt1pZBD" label="Carton Lucios" />
        </ElSelect>
        <ElSelect
          v-if="selectedCategoryId"
          v-model="selectedWeight"
          placeholder="Grosime"
          clearable
        >
          <ElOption v-for="weight in weights" :value="weight" :label="`${weight}g`" :key="weight" />
        </ElSelect>
        <ElTable
          v-if="selectedCategoryId && selectedWeight"
          :data="sheets"
          :default-sort="{ prop: 'data.width' }"
          style="width: 100%"
        >
          <ElTableColumn type="index" width="50" />
          <ElTableColumn prop="computed.size" label="Dimensiune">
            <span slot-scope="{ row }">{{ row.data.width }} x {{ row.data.height }}</span>
          </ElTableColumn>
          <ElTableColumn prop="data.weight" label="Grosime" />
          <ElTableColumn prop="data.price" label="Pret" />
          <ElTableColumn prop="data.currentQuantity" label="Cantitate Existenta" />
          <ElTableColumn prop="data.minimumQuantity" label="Cantitate Minima" />
        </ElTable>
      </template>
    </ElDialog>
  </div>
</template>

<script>
import { sortBy } from "lodash";

export default {
  data() {
    return {
      visible: false,
      materials: null,
      selectedWeight: null,
      selectedCategoryId: null
    };
  },
  created() {
    this.$bind("materials", this.$firestore().collection("materials"));
  },
  computed: {
    categoryMaterials() {
      return this.materials.filter(
        material => material.data.categoryId === this.selectedCategoryId
      );
    },
    weights() {
      return this.categoryMaterials
        .map(sheet => sheet.data.weight)
        .filter((sheet, index, self) => self.indexOf(sheet) === index)
        .sort((a, b) => a - b);
    },
    sheets() {
      const sheets = this.categoryMaterials.filter(material => {
        const { weight } = material.data;
        return this.selectedWeight === weight;
      });
      return sortBy(sheets, ["data.width", "data.height", "data.weight"]);
    }
  }
};
</script>
