<template>
  <div>
    <Navigation/>
    <div class="pa-5">
      <ActivityFilters/>
    </div>
    <!-- table -->
    <ResourceTable :query="query">
      <ElTableColumn label="Lucrare">
        <ResourceLoader slot-scope="{ row }" :path="`projects/${row.data.projectId}`">
          <ElButton
            slot-scope="{ resource: project }"
            @click="$set(filters, 'project', project.id)"
            size="mini"
          >{{ project.data.name }}</ElButton>
        </ResourceLoader>
      </ElTableColumn>
      <ElTableColumn label="Angajat">
        <template slot-scope="{ row }" v-if="employees">
          <ElButton
            v-for="employeeId in row.data.employees"
            :key="employeeId"
            @click="$set(filters, 'employee', employeeId)"
            size="mini"
          >{{ employeesById[employeeId].data.name }}</ElButton>
        </template>
      </ElTableColumn>
      <ElTableColumn prop="data.description" label="Descriere"/>
      <ElTableColumn prop="data.createdAt" label="Data">
        <TimeAgo
          slot-scope="{ row }"
          v-if="row.data.createdAt"
          :date="row.data.createdAt.toDate()"
        />
      </ElTableColumn>
    </ResourceTable>
    <!-- load more -->
    <div class="pa-5">
      <ElButton @click="loadMore">Incarca mai multe</ElButton>
    </div>
  </div>
</template>

<script>
import { keyBy } from "lodash";
import Navigation from "@/components/Navigation";
import FiltersMixin from "@/mixins/FiltersMixin";
import LoadMoreMixin from "@/mixins/LoadMoreMixin";
import ActivityFilters from "@/components/activities/ActivityFilters";

export default {
  mixins: [FiltersMixin(), LoadMoreMixin({ limit: 50 })],
  components: {
    Navigation,
    ActivityFilters
  },
  data() {
    return {
      employees: null
    };
  },
  computed: {
    query() {
      let query = this.$firestore()
        .collection("activities")
        .limit(this.limit)
        .orderBy("createdAt", "desc");

      if (this.filters.project) {
        query = query.where("projectId", "==", this.filters.project);
      }

      if (this.filters.employee) {
        query = query.where(
          "employees",
          "array-contains",
          this.filters.employee
        );
      }

      if (this.filters.from && this.filters.to) {
        query = query.where("createdAt", ">=", new Date(this.filters.from));
        query = query.where("createdAt", "<=", new Date(this.filters.to));
      }

      return query;
    },
    employeesById() {
      return keyBy(this.employees, "id");
    }
  },
  created() {
    this.$bind("employees", this.$firestore().collection("employees"));
  }
};
</script>
