<template>
  <ElForm class="login-form" @submit.native.prevent="login">
    <h1>NEW WINDOW</h1>
    <ElInput class="mb-2" type="email" v-model="email" required/>
    <ElInput class="mb-2" type="password" v-model="password" required/>
    <ElButton class="mb-2" type="primary" native-type="submit" :loading="loading">Login</ElButton>
    <div v-if="error">{{ error }}</div>
  </ElForm>
</template>

<script>
export default {
  data() {
    return {
      email: "victor@test.com",
      password: "test1234",
      loading: false,
      error: null
    };
  },
  methods: {
    async login() {
      try {
        this.error = null;
        this.loading = true;
        await this.$auth().signInWithEmailAndPassword(
          this.email,
          this.password
        );
      } catch (error) {
        this.error = error.message;
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>
