<template>
  <div>
    <Navigation />
    <div class="calculator flex" v-if="services && materials">
      <div class="mx-5 mt-5">
        <ElSelect
          class="mb-5"
          style="width: 300px"
          v-model="selectedCalculator"
          @change="updateOptions"
          clearable
        >
          <ElOption
            v-for="(calculator, index) in calculators"
            :label="calculator.label"
            :value="index"
            :key="index"
          />
        </ElSelect>
        <br />
        <component :is="calculator" :options="options" :sheets="sheets" />
      </div>
      <!-- <pre v-if="recipe">{{ result }}</pre> -->
      <div class="stretch" v-if="recipe">
        <SheetsExplorer />
        <h2>Total {{ result.totalPrice.toFixed(2) }} lei ({{ result.unitPrice.toFixed(2) }} lei / buc)</h2>
        <ElTabs type="border-card">
          <ElTabPane label="Layout">
            <div class="flex">
              <LayoutVisualizer
                v-for="(layout, index) in result.layouts"
                :key="index"
                :layout="layout"
                class="mr-5"
              />
            </div>
          </ElTabPane>
          <ElTabPane
            v-for="(component, index) in result.components"
            :key="index"
            :label="component.name"
          >
            <h4>
              {{ component.baseQuantity }} buc +
              {{ component.surplusQuantity }} prisoase =
              {{ component.quantity }} buc
            </h4>
            <hr />
            <h4>Materiale</h4>
            <ElTable :data="entries(component.materials)">
              <ElTableColumn prop="key" label="Nume">
                <template slot-scope="{ row }">{{ startCase(row.key) }}</template>
              </ElTableColumn>
              <ElTableColumn prop="name" label="Material" width="300" :formatter="getMaterialName" />
              <ElTableColumn prop="value" label="Valoare" align="right">
                <template slot-scope="{ row }">{{ row.fixed ? 'fix' : 'x' }} {{row.value}}</template>
              </ElTableColumn>
              <ElTableColumn prop="quantity" label="Cantitate" align="right" :formatter="toFixed2" />
              <ElTableColumn prop="price" label="Pret" align="right" :formatter="toFixed2" />
            </ElTable>
            <h4>Servicii</h4>
            <ElTable :data="entries(component.services)">
              <ElTableColumn prop="key" label="Nume">
                <template slot-scope="{ row }">{{ startCase(row.key) }}</template>
              </ElTableColumn>
              <ElTableColumn prop="name" label="Serviciu" width="300" :formatter="getServiceName" />
              <ElTableColumn prop="value" label="Valoare" align="right">
                <template slot-scope="{ row }">{{ row.fixed ? 'fix' : 'x' }} {{row.value}}</template>
              </ElTableColumn>
              <ElTableColumn prop="quantity" label="Cantitate" align="right" :formatter="toFixed2" />
              <ElTableColumn prop="price" label="Pret" align="right" :formatter="toFixed2" />
            </ElTable>
          </ElTabPane>
        </ElTabs>
      </div>
    </div>
  </div>
</template>

<script>
import { keyBy, startCase } from "lodash";
import { priceRecipe } from "@/recipes/utils";
import Navigation from "@/components/Navigation";
import SheetsExplorer from "@/components/calculator/SheetsExplorer";
import LayoutVisualizer from "@/components/calculator/LayoutVisualizer";
import CalculatorCartoane from "@/components/calculator/CalculatorCartoane";
import CalculatorFoiVolante from "@/components/calculator/CalculatorFoiVolante";
import CalculatorBrosuriCuCapse from "@/components/calculator/CalculatorBrosuriCuCapse";
import CalculatorBrosuriCuSpirala from "@/components/calculator/CalculatorBrosuriCuSpirala";
import CalculatorCartiCuCopertaTare from "@/components/calculator/CalculatorCartiCuCopertaTare";
import CalculatorCartiCuCopertaMoale from "@/components/calculator/CalculatorCartiCuCopertaMoale";

const printer = {
  width: {
    min: 250,
    max: 500
  },
  height: {
    min: 350,
    max: 700
  },
  // margins: {
  //   left: 6,
  //   right: 6,
  //   top: 16,
  //   bottom: 3
  // }
  margins: {
    left: 0,
    right: 0,
    top: 0,
    bottom: 0
  }
};

export default {
  components: {
    Navigation,
    SheetsExplorer,
    LayoutVisualizer,
    CalculatorCartoane,
    CalculatorFoiVolante,
    CalculatorBrosuriCuCapse,
    CalculatorBrosuriCuSpirala,
    CalculatorCartiCuCopertaTare,
    CalculatorCartiCuCopertaMoale
  },
  data() {
    return {
      selectedCalculator: null,
      services: null,
      materials: null,
      options: {}
    };
  },
  created() {
    this.$bind("services", this.$firestore().collection("services"));
    this.$bind("materials", this.$firestore().collection("materials"));
  },
  // beforeRouteLeave(to, from, next) {
  //   window.open(to.fullPath, "_blank");
  //   next();
  // },
  computed: {
    calculators() {
      return [
        { label: "Foi Volante", component: CalculatorFoiVolante },
        { label: "Brosuri Cu Spirala", component: CalculatorBrosuriCuSpirala },
        { label: "Brosuri Cu Capse", component: CalculatorBrosuriCuCapse },
        {
          label: "Carti Cu Coperta Moale",
          component: CalculatorCartiCuCopertaMoale
        },
        {
          label: "Carti Cu Coperta Tare",
          component: CalculatorCartiCuCopertaTare
        },
        { label: "Cartoane", component: CalculatorCartoane }
      ];
    },
    calculator() {
      if (typeof this.selectedCalculator !== "number") return null;
      return this.calculators[this.selectedCalculator].component;
    },
    materialsById() {
      return keyBy(this.materials, "id");
    },
    servicesById() {
      return keyBy(this.services, "id");
    },
    sheets() {
      return this.materials.filter(
        material =>
          material.data.weight && material.data.width && material.data.height
      );
    },
    recipe() {
      if (!this.calculator) return null;
      return this.calculator.getRecipe(this.options, printer, this.sheets);
    },
    result() {
      if (!this.recipe) return null;
      return priceRecipe(
        this.recipe,
        this.options.quantity,
        this.materialsById,
        this.servicesById
      );
    }
  },
  methods: {
    updateOptions() {
      if (this.calculator) {
        this.options = this.calculator.getOptions();
      }
    },
    toFixed2(row, column, cellValue) {
      return cellValue.toFixed(2);
    },
    getServiceName(row) {
      return this.servicesById[row.id].data.name;
    },
    getMaterialName(row) {
      return this.materialsById[row.id].data.name;
    },
    entries(object) {
      return Object.entries(object).map(([key, value]) => ({ key, ...value }));
    },
    startCase
  }
};
</script>

<style>
.calculator .el-form-item {
  margin-bottom: 8px;
}
.calculator .spacer {
  margin: 16px 0 16px 0;
  border: none;
  border-top: 1px solid #ccc;
}
</style>
