<template>
  <div>
    <Navigation />
    <div class="pa-5 flex space-between">
      <ClientFilters />
      <ElButton v-if="!isMobile" @click="$refs.clientDialog.add()" type="primary">Adauga Client</ElButton>
    </div>
    <!-- table -->
    <ResourceTable :query="query" :filter="filter" :default-sort="{ prop: 'data.name' }">
      <ElTableColumn v-if="!isMobile" type="index" width="50" />
      <ElTableColumn prop="data.name" label="Nume" sortable />
      <ElTableColumn v-if="!isMobile" prop="data.email" label="Email" sortable />
      <ElTableColumn v-if="!isMobile" prop="data.phone" label="Telefon" sortable />
      <ElTableColumn v-if="!isMobile" prop="data.address" label="Adresa" sortable />
      <ElTableColumn v-if="!isMobile" prop="data.phone" label="Date Facturare">
        <template slot-scope="{ row }">{{ row.data.invoiceDetails ? 'da' :'nu' }}</template>
      </ElTableColumn>
      <ElTableColumn align="right">
        <template slot-scope="{ row }">
          <ElButton @click="goToProjects(row.id)" size="mini">Lucrari</ElButton>
          <ElButton v-if="!isMobile" @click="$refs.clientDialog.edit(row.id)" size="mini">Modifica</ElButton>
        </template>
      </ElTableColumn>
    </ResourceTable>
    <!-- dialogs -->
    <ClientDialog ref="clientDialog" />
  </div>
</template>

<script>
// import TimeAgo from "@/components/utils/TimeAgo";
import Navigation from "@/components/Navigation";
import FiltersMixin from "@/mixins/FiltersMixin";
import ClientDialog from "@/components/clients/ClientDialog";
import ClientFilters from "@/components/clients/ClientFilters";

export default {
  mixins: [FiltersMixin()],
  components: {
    // TimeAgo,
    Navigation,
    ClientDialog,
    ClientFilters
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    },
    query() {
      return this.$firestore().collection("clients");
    }
  },
  methods: {
    filter(row) {
      const { filters } = this;
      if (filters.name) {
        if (row.data.name.match(new RegExp(filters.name, "i")) === null) {
          return false;
        }
      }
      return true;
    },
    goToProjects(client) {
      this.$router.push({ path: "/projects", query: { client } });
    }
  }
};
</script>
