<template>
  <div class="home">
    <Navigation/>
    <div :class="$dot('test1 pl-1')">item 1</div>
    <div :class="$dot('test2 pl-2')">item 2</div>
    <div :class="$dot('test3 pl-3')">item 3</div>
    <div :class="$dot('test4 pl-4')">item 4</div>
    <div :class="$dot('test5 pl-5')">item 5</div>
    <div :class="$dot('test5 pl-55@sm')">item 5</div>
    <!-- <div :class="$dot('group flex pa-5 container')">
      <button type="button" :class="$dot('pl-5:not([type=submit])')">ceva</button>
      <button type="submit" :class="$dot('pl-5:not([type=submit]) flex-grow')">altceva</button>
      <button type="button" :class="$dot('pl-5:not([type=submit])')">ceva</button>
      <button type="button" :class="$dot('pl-5:not([type=submit])')">altceva</button>
    </div>-->
    <ElSlider v-model="slider"/>
    <ElButton type="primary">Primary</ElButton>
    <ElSelect v-model="value" placeholder="Select">
      <ElOption v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></ElOption>
    </ElSelect>
    <ElDatePicker type="date" placeholder="Pick a day"/>
    <p>{{ $store.user.email }}</p>
    <p>{{ doc('suppliers/1').name }}</p>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";

export default {
  components: {
    Navigation
  },
  computed: {
    doc() {
      return path => {
        if (this.snapshots[path]) {
          return this.snapshots[path];
        } else {
          this.$firestore()
            .doc(path)
            .onSnapshot(snapshot => {
              this.$set(this.snapshots, path, snapshot.data());
            });
          return this.$set(this.snapshots, path, { name: "loading" });
        }
      };
    }
  },
  data() {
    return {
      slider: 0,
      snapshots: {},
      options: [
        {
          value: "Option1",
          label: "Option1"
        },
        {
          value: "Option2",
          label: "Option2"
        },
        {
          value: "Option3",
          label: "Option3"
        },
        {
          value: "Option4",
          label: "Option4"
        },
        {
          value: "Option5",
          label: "Option5"
        }
      ],
      value: ""
    };
  }
};
</script>
