<template>
  <div>
    <Navigation />
    <div class="pa-5 flex space-between">
      <MaterialFilters />
      <ElButton @click="$refs.materialDialog.add()" type="primary">Adauga Material</ElButton>
    </div>
    <!-- table -->
    <ResourceTable
      :query="query"
      :filter="filter"
      :default-sort="{ prop: 'computed.availability' }"
    >
      <ElTableColumn type="index" width="50" />
      <ElTableColumn prop="data.name" label="Nume" width="300" sortable />
      <ElTableColumn label="Categorie">
        <ResourceLoader slot-scope="{ row }" :path="`materialCategories/${row.data.categoryId}`">
          <ElButton
            slot-scope="{ resource: category }"
            @click="$set(filters, 'category', category.id)"
            size="mini"
          >{{category.data.name}}</ElButton>
        </ResourceLoader>
      </ElTableColumn>
      <ElTableColumn width="50">
        <template slot-scope="{ row }">
          <ElButton
            @click="$refs.materialDialog.edit(row.id)"
            size="mini"
            icon="el-icon-edit"
            circle
          />
        </template>
      </ElTableColumn>
    </ResourceTable>
    <!-- dialogs -->
    <MaterialDialog ref="materialDialog" />
    <MaterialOrderDialog ref="materialOrderDialog" />
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import FiltersMixin from "@/mixins/FiltersMixin";
import MaterialDialog from "@/components/materials/MaterialDialog";
import MaterialFilters from "@/components/materials/MaterialFilters";
import MaterialOrderDialog from "@/components/materials/MaterialOrderDialog";

export default {
  mixins: [FiltersMixin()],
  components: {
    Navigation,
    MaterialDialog,
    MaterialFilters,
    MaterialOrderDialog
  },
  computed: {
    query() {
      return this.$firestore().collection("materials");
    }
  },
  methods: {
    filter(row) {
      const { filters } = this;
      if (filters.fsc && row.data.fsc !== true) {
        return false;
      }
      if (filters.name) {
        if (row.data.name.match(new RegExp(filters.name, "i")) === null) {
          return false;
        }
      }
      if (filters.order && row.data.orderedAt === undefined) {
        return false;
      }
      if (filters.category && row.data.categoryId !== filters.category) {
        return false;
      }
      if (filters.supplier && row.data.supplierId !== filters.supplier) {
        return false;
      }
      return true;
    },
    getRowAvailability(row) {
      const { minimumQuantity, currentQuantity } = row.data;
      if (currentQuantity >= minimumQuantity) return 100;
      return Math.round((currentQuantity / minimumQuantity) * 100);
    },
    getRowType(row) {
      const { minimumQuantity, currentQuantity } = row.data;
      return minimumQuantity <= currentQuantity ? "success" : "danger";
    },
    receiveCurrentOrder(row) {
      this.$firestore()
        .collection("materials")
        .doc(row.id)
        .update({
          currentQuantity: row.data.currentQuantity + row.data.orderedQuantity,
          orderedQuantity: this.$firestore.FieldValue.delete(),
          orderedAt: this.$firestore.FieldValue.delete(),
          updatedAt: this.$firestore.FieldValue.serverTimestamp()
        });
    }
  }
};
</script>
