<template>
  <div>
    <Navigation/>
    <div class="pa-5" v-if="project">
      <div class="flex align-center mb-5">
        <div class="mr-2" style="font-size: 28px">{{ project.data.name }}</div>
        <ElButton v-if="!isMobile" size="mini" @click="$refs.projectDialog.edit(project.id)">Modifica</ElButton>
        <div class="stretch"></div>
      </div>
      <ElTabs type="border-card">
        <ElTabPane label="Pret">
          <ProjectPricing :project-id="id" :project-price="project.data.totalPrice"/>
        </ElTabPane>
      </ElTabs>
    </div>
    <!-- dialogs -->
    <ProjectDialog ref="projectDialog"/>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import ProjectDialog from "@/components/projects/ProjectDialog";
import ProjectPricing from "@/components/projects/ProjectPricing";

export default {
  props: ["id"],
  components: {
    Navigation,
    ProjectDialog,
    ProjectPricing
  },
  data() {
    return {
      project: null
    };
  },
  created() {
    this.$bind("project", this.$firestore().doc(`projects/${this.id}`));
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    }
  }
};
</script>
