<template>
  <div>
    <Navigation />
    <div class="pa-5 flex space-between">
      <ProjectFilters />
      <ElButton v-if="!isMobile" @click="$refs.projectDialog.add()" type="primary">Adauga Lucrare</ElButton>
    </div>
    <!-- table -->
    <h3 v-if="filters.from" align="center">
      {{ numberOfProjects }} Lucrari | Intrari : {{ recivedMoney }} lei | Cost: {{ projectCost }} lei | 
      <span v-if="(recivedMoney - projectCost) >= 0" style="color:green"> Profit: 
        {{ recivedMoney - projectCost }} lei </span>
      <span v-else style="color:red">Pierdere: 
        {{ recivedMoney - projectCost }} lei</span>
    </h3>
    <ResourceTable :query="query">
      <ElTableColumn v-if="!isMobile" type="index" width="50"/>
      <ElTableColumn width="120" prop="data.name" label="Nume"/>
      <ElTableColumn width="100" label="Client">
        <ResourceLoader slot-scope="{ row }" :path="`clients/${row.data.clientId}`">
          <ElButton
            slot-scope="{ resource: client }"
            @click="$set(filters, 'client', client.id)"
            size="mini"
          >{{ client.data.name }}</ElButton>
        </ResourceLoader>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile" label="Achitat">
        <ProjectTasksProgress slot-scope="{ row }" :project-id="row.id" />
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile"  label="Stare" width="300">
        <ProjectStateRadio slot-scope="{ row }" :project-id="row.id" :value="row.data.state"/>
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile"  label="Creare">
        <TimeAgo
          slot-scope="{ row }"
          v-if="row.data.createdAt"
          :date="row.data.createdAt.toDate()"
        />
      </ElTableColumn>
      <ElTableColumn v-if="!isMobile"  label="Actualizare">
        <TimeAgo
          slot-scope="{ row }"
          v-if="row.data.updatedAt"
          :date="row.data.updatedAt.toDate()"
        />
      </ElTableColumn>
      <ElTableColumn width="200">
        <template slot-scope="{ row }">
          <ElButton @click="$router.push(`/projects/${row.id}`)" size="mini">Detalii</ElButton>
          <ElButton v-if="!isMobile"  @click="$refs.projectDialog.edit(row.id)" size="mini">Modifica</ElButton>
        </template>
      </ElTableColumn>
    </ResourceTable>
    <!-- load more -->
    <div class="pa-5">
      <ElButton @click="loadMore">Incarca mai multe</ElButton>
    </div>
    <!-- dialogs -->
    <ProjectDialog ref="projectDialog"/>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import FiltersMixin from "@/mixins/FiltersMixin";
import LoadMoreMixin from "@/mixins/LoadMoreMixin";
import ProjectDialog from "@/components/projects/ProjectDialog";
import ProjectFilters from "@/components/projects/ProjectFilters";
import ProjectStateRadio from "@/components/projects/ProjectStateRadio";
import ProjectTasksProgress from "@/components/projects/ProjectTasksProgress";
import { keyBy } from "lodash";

export default {
  mixins: [FiltersMixin(), LoadMoreMixin({ limit: 10 })],
  components: {
    Navigation,
    ProjectDialog,
    ProjectFilters,
    ProjectStateRadio,
    ProjectTasksProgress
  },
  data() {
    return {
      projects: null,
      services: null,
      projectMaterials: null,
      projectServices: null,
      recivedMoney: 0,
      materialCost: 0,
      serviceCost: 0
    };
  },
  created() {
    this.$bind(
      "projectMaterials",
      this.$firestore()
        .collection("projectMaterials")
        .orderBy("createdAt", "asc")
    );
    this.$bind("services", this.$firestore().collection("services"));
    this.$bind(
      "projects",
      this.$firestore()
        .collection("projects")
        .limit(this.limit)
        .orderBy("createdAt", "desc")
    );
  },
  watch: {
    query(newValue) {
      this.$bind("projects", newValue);
    },
    projects() {
      this.setStatistics();
    }
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    },
    projectTotalPrice() {
      if (!this.projectMaterials) return 0;
      return this.projectMaterials.reduce((result, material) => {
        return result + material.data.price;
      }, 0);
    },
    projectCost() {
      return this.materialCost;
    },
    numberOfProjects() {
      if (this.projects) {
        return this.projects.length;
      }
    },
    query() {
      let query = this.$firestore()
        .collection("projects")
        .limit(this.limit)
        .orderBy("createdAt", "desc");

      if (this.filters.state) {
        query = query.where("state", "==", this.filters.state);
      }

      if (this.filters.client) {
        query = query.where("clientId", "==", this.filters.client);
      }

      if (this.filters.from && this.filters.to) {
        query = query.where("createdAt", ">=", new Date(this.filters.from));
        query = query.where("createdAt", "<=", new Date(this.filters.to));
      }

      return query;
    },
    servicesById() {
      return keyBy(this.services, "id");
    }
  },
  methods: {
    getMaterialPrice(material) {
      return material.data.rawPrice + material.data.auxPrice;
    },
    getServicePrice(material) {
      if (material.data.serviceId) {
        return (
          material.data.serviceTime *
          this.servicesById[material.data.serviceId].data.price.rise
        );
      }
      return 0;
    },
    setStatistics() {
      this.recivedMoney = 0;
      this.materialCost = 0;
      if (!this.projects) {
        this.recivedMoney = 0;
        return;
      }
      this.projects.forEach(project => {
        if (this.projectMaterials) {
          this.recivedMoney += this.projectMaterials.reduce(
            (result, material) => {
              return (
                result +
                (material.data.projectId === project.id
                  ? material.data.price
                  : 0)
              );
            },
            0
          );
          this.materialCost += this.projectMaterials.reduce(
            (result, material) => {
              return (
                result +
                (material.data.projectId === project.id
                  ? this.getMaterialPrice(material) +
                    this.getServicePrice(material)
                  : 0)
              );
            },
            0
          );
        }
      });
    }
  }
};
</script>
