<template>
  <div>
    <Navigation/>
    <div class="pa-5 flex space-between">
      <ServiceFilters/>
      <ElButton @click="$refs.serviceDialog.add()" type="primary">Adauga Serviciu</ElButton>
    </div>
    <!-- table -->
    <ResourceTable :query="query" :filter="filter" :default-sort="{ prop: 'data.name' }">
      <ElTableColumn type="index" width="50"/>
      <ElTableColumn prop="data.name" label="Nume" width="300" sortable/>
      <!-- <ElTableColumn prop="data.price.base" label="Pret de baza" sortable/> -->
      <ElTableColumn prop="data.price.rise" label="Pret /unitate" sortable/>
      <!-- <ElTableColumn prop="data.price.unit" label="Unitate" sortable/> -->
      <ElTableColumn label="Actualizare" sortable sort-by="data.updatedAt.seconds">
        <TimeAgo
          slot-scope="{ row }"
          v-if="row.data.updatedAt"
          :date="row.data.updatedAt.toDate()"
        />
      </ElTableColumn>
      <ElTableColumn align="right">
        <template slot-scope="{ row }">
          <ElButton @click="$refs.serviceDialog.edit(row.id)" size="mini">Modifica</ElButton>
        </template>
      </ElTableColumn>
    </ResourceTable>
    <!-- dialogs -->
    <ServiceDialog ref="serviceDialog"/>
  </div>
</template>

<script>
import TimeAgo from "@/components/utils/TimeAgo";
import Navigation from "@/components/Navigation";
import FiltersMixin from "@/mixins/FiltersMixin";
import ServiceDialog from "@/components/services/ServiceDialog";
import ServiceFilters from "@/components/services/ServiceFilters";

export default {
  mixins: [FiltersMixin()],
  components: {
    TimeAgo,
    Navigation,
    ServiceDialog,
    ServiceFilters
  },
  computed: {
    query() {
      return this.$firestore().collection("services");
    }
  },
  methods: {
    filter(row) {
      const { filters } = this;
      if (filters.name) {
        if (row.data.name.match(new RegExp(filters.name, "i")) === null) {
          return false;
        }
      }
      return true;
    }
  }
};
</script>
