<template>
  <div>
    <Navigation/>
    <div class="pa-5">
      <ElButton @click="showCategoriesDialog = true" icon="el-icon-menu"></ElButton>
      <!-- dialogs -->
      <ElDialog title="Selecteaza Categoriile" :visible.sync="showCategoriesDialog" width="30%">
        <ElCheckboxGroup v-if="categories" v-model="visibleCategoryIds">
          <ElCheckbox
            border
            v-for="category in categories"
            :label="category.id"
            :key="category.id"
          >{{category.data.name}}</ElCheckbox>
        </ElCheckboxGroup>
        <ElButton
          @click="visibleCategoryIds = []"
          :disabled="visibleCategoryIds.length === 0"
        >Reseteaza</ElButton>
      </ElDialog>
      <TaskDialog ref="taskDialog"/>
      <!-- kanban -->
      <div class="kanban" v-if="categories">
        <div
          class="kanban__list"
          shadow="hover"
          v-for="categoryId in visibleCategoryIds"
          :key="categoryId"
        >
          <h3>
            <span
              :style="{ display: 'inline-block', background: categoriesById[categoryId].data.color, width: '10px' }"
            >&nbsp;</span>
            &nbsp;
            {{ categoriesById[categoryId].data.name }}
          </h3>
          <TaskList :tasks="tasks" :category-id="categoryId" @open="openTask"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TaskList from "@/components/tasks/TaskList";
import TaskDialog from "@/components/tasks/TaskDialog";
import Navigation from "@/components/Navigation";
import { flatten, keyBy, orderBy } from "lodash";
import PersistFieldMixin from "@/mixins/PersistFieldMixin";

export default {
  mixins: [PersistFieldMixin("visibleCategoryIds")],
  components: {
    TaskList,
    TaskDialog,
    Navigation
  },
  data() {
    return {
      clients: null,
      projects: null,
      categories: null,
      currentTaskId: null,
      visibleCategoryIds: [],
      showCategoriesDialog: false
    };
  },
  created() {
    this.$bind("clients", this.$firestore().collection("clients"));
    this.$bind(
      "projects",
      this.$firestore()
        .collection("projects")
        .where("state", "==", "work")
    );
    this.$bind(
      "categories",
      this.$firestore()
        .collection("taskCategories")
        .orderBy("name", "asc")
    );
  },
  computed: {
    clientsById() {
      return keyBy(this.clients, "id");
    },
    categoriesById() {
      return keyBy(this.categories, "id");
    },
    sortedProjects() {
      const fields = ["data.priority", "data.createdAt.seconds"];
      const orders = ["desc", "asc"];

      return orderBy(this.projects, fields, orders);
    },
    tasks() {
      if (this.clients === null) return [];
      if (this.sortedProjects === null) return [];

      return flatten(this.sortedProjects.map(this.getProjectTasks)).filter(
        task => {
          // completed
          if (task.data.state === 3) return false;
          // has dependencies but is not ready
          if (
            Object.keys(task.data.dependencies || {}).length &&
            task.readyAt === null
          )
            return false;
          return true;
        }
      );
    }
  },
  methods: {
    getProjectTasks(project) {
      const client = this.clientsById[project.data.clientId];
      const tasks = project.data.tasks || {};

      return Object.keys(tasks).map(id => {
        const data = tasks[id];
        const readyAt = this.getTaskReadyAt(id, tasks);
        return { id, data, readyAt, project, client };
      });
    },
    getTaskReadyAt(id, tasks) {
      let maxReleaseAt = null;
      for (const dependencyId in tasks[id].dependencies) {
        if (tasks[dependencyId].releaseAt === undefined) return null;
        const releaseAt = tasks[dependencyId].releaseAt.toDate();
        maxReleaseAt = maxReleaseAt < releaseAt ? releaseAt : maxReleaseAt;
      }
      return maxReleaseAt;
    },
    openTask(task) {
      this.$refs.taskDialog.open(task.id, task.project.id);
    }
  }
};
</script>

<style>
.kanban {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  /* avoid shadow clipping */
  padding-bottom: 10px;
}
.kanban__list {
  flex: 0 0 350px;
  margin-right: 30px;
}
</style>
