<template>
  <div>Tinker</div>
</template>

<script>
export default {
  async mounted() {
    const batch = this.$firestore().batch();
    // await this.deleteSheets(batch);
    await this.createSheets(batch);
    // await this.updateSheets(batch);
    await batch.commit();
  },
  methods: {
    async updateSheets(batch) {
      const materials = await this.$fetch(
        this.$firestore().collection("materials")
      );
      const materialCategories = await this.$fetch(
        this.$firestore().collection("materialCategories")
      );
      const getCategoryNameById = id =>
        materialCategories.find(category => category.id === id).data.name;

      materials
        .filter(material => material.data.name.indexOf("Placa") === -1)
        .forEach(material => {
          const { categoryId, width, height, weight } = material.data;
          const categoryName = getCategoryNameById(categoryId);
          batch.update(this.$firestore().doc(material.path), {
            name: `${categoryName} ${width}x${height} ${weight}g`
          });
        });
    },
    async deleteSheets(batch) {
      const materials = await this.$fetch(
        this.$firestore().collection("materials")
      );

      materials
        .filter(material => material.data.name.indexOf("Placa") === -1)
        .forEach(material => {
          batch.delete(this.$firestore().doc(material.path));
        });
    },
    async createSheets(batch) {
      const materialCategories = await this.$fetch(
        this.$firestore().collection("materialCategories")
      );
      const getCategoryIdByName = name =>
        materialCategories.find(category => category.data.name === name).id;

      table
        .map(row => ({
          name: row.name,
          weight: Number(row.weight),
          width: Number(row.width) * 10,
          height: Number(row.height) * 10,
          price: Number(row.price),
          categoryId: getCategoryIdByName(row.category),
          supplierId: "z75TZ8yTXaTTDorofhUX",
          currentQuantity: 0,
          minimumQuantity: 0,
          orderedQuantity: 0,
          createdAt: this.$firestore.FieldValue.serverTimestamp(),
          updatedAt: this.$firestore.FieldValue.serverTimestamp()
        }))
        .forEach(material => {
          batch.set(
            this.$firestore()
              .collection("materials")
              .doc(),
            material
          );
        });
    }
  }
};

// https://www.csvjson.com/csv2json
// category,weight,width,height,price,name
const table = [
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 80,
    width: 70,
    height: 100,
    price: 0.2572,
    name: "Carton Dublu Cretat Lucios 80g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 80,
    width: 64,
    height: 88,
    price: 0.207,
    name: "Carton Dublu Cretat Lucios 80g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 80,
    width: 45,
    height: 64,
    price: 0.1058,
    name: "Carton Dublu Cretat Lucios 80g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 90,
    width: 70,
    height: 100,
    price: 0.2819,
    name: "Carton Dublu Cretat Lucios 90g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 90,
    width: 64,
    height: 88,
    price: 0.2268,
    name: "Carton Dublu Cretat Lucios 90g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 90,
    width: 45,
    height: 64,
    price: 0.116,
    name: "Carton Dublu Cretat Lucios 90g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 115,
    width: 70,
    height: 100,
    price: 0.3506,
    name: "Carton Dublu Cretat Lucios 115g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 115,
    width: 64,
    height: 88,
    price: 0.2821,
    name: "Carton Dublu Cretat Lucios 115g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 115,
    width: 45,
    height: 64,
    price: 0.1443,
    name: "Carton Dublu Cretat Lucios 115g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 130,
    width: 70,
    height: 100,
    price: 0.3963,
    name: "Carton Dublu Cretat Lucios 130g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 130,
    width: 64,
    height: 88,
    price: 0.3189,
    name: "Carton Dublu Cretat Lucios 130g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 130,
    width: 45,
    height: 64,
    price: 0.1631,
    name: "Carton Dublu Cretat Lucios 130g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 150,
    width: 70,
    height: 100,
    price: 0.4573,
    name: "Carton Dublu Cretat Lucios 150g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 150,
    width: 64,
    height: 88,
    price: 0.3679,
    name: "Carton Dublu Cretat Lucios 150g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 150,
    width: 45,
    height: 64,
    price: 0.1882,
    name: "Carton Dublu Cretat Lucios 150g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 170,
    width: 70,
    height: 100,
    price: 0.5183,
    name: "Carton Dublu Cretat Lucios 170g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 170,
    width: 64,
    height: 88,
    price: 0.417,
    name: "Carton Dublu Cretat Lucios 170g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 170,
    width: 45,
    height: 64,
    price: 0.2132,
    name: "Carton Dublu Cretat Lucios 170g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 200,
    width: 70,
    height: 100,
    price: 0.6098,
    name: "Carton Dublu Cretat Lucios 200g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 200,
    width: 64,
    height: 88,
    price: 0.4906,
    name: "Carton Dublu Cretat Lucios 200g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 200,
    width: 45,
    height: 64,
    price: 0.2509,
    name: "Carton Dublu Cretat Lucios 200g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 250,
    width: 70,
    height: 100,
    price: 0.783,
    name: "Carton Dublu Cretat Lucios 250g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 250,
    width: 64,
    height: 88,
    price: 0.63,
    name: "Carton Dublu Cretat Lucios 250g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 250,
    width: 45,
    height: 64,
    price: 0.3222,
    name: "Carton Dublu Cretat Lucios 250g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 300,
    width: 70,
    height: 100,
    price: 0.9396,
    name: "Carton Dublu Cretat Lucios 300g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 300,
    width: 64,
    height: 88,
    price: 0.756,
    name: "Carton Dublu Cretat Lucios 300g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 300,
    width: 45,
    height: 64,
    price: 0.3866,
    name: "Carton Dublu Cretat Lucios 300g 45x64"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 350,
    width: 70,
    height: 100,
    price: 1.1254,
    name: "Carton Dublu Cretat Lucios 350g 70x100"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 350,
    width: 64,
    height: 88,
    price: 0.9055,
    name: "Carton Dublu Cretat Lucios 350g 64x88"
  },
  {
    category: "Carton Dublu Cretat Lucios",
    weight: 350,
    width: 45,
    height: 64,
    price: 0.463,
    name: "Carton Dublu Cretat Lucios 350g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 80,
    width: 70,
    height: 100,
    price: 0.2572,
    name: "Carton Dublu Cretat Mat 80g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 80,
    width: 64,
    height: 88,
    price: 0.207,
    name: "Carton Dublu Cretat Mat 80g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 80,
    width: 45,
    height: 64,
    price: 0.1058,
    name: "Carton Dublu Cretat Mat 80g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 90,
    width: 70,
    height: 100,
    price: 0.2819,
    name: "Carton Dublu Cretat Mat 90g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 90,
    width: 64,
    height: 88,
    price: 0.2268,
    name: "Carton Dublu Cretat Mat 90g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 90,
    width: 45,
    height: 64,
    price: 0.116,
    name: "Carton Dublu Cretat Mat 90g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 115,
    width: 70,
    height: 100,
    price: 0.3506,
    name: "Carton Dublu Cretat Mat 115g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 115,
    width: 64,
    height: 88,
    price: 0.2821,
    name: "Carton Dublu Cretat Mat 115g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 115,
    width: 45,
    height: 64,
    price: 0.1443,
    name: "Carton Dublu Cretat Mat 115g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 130,
    width: 70,
    height: 100,
    price: 0.3963,
    name: "Carton Dublu Cretat Mat 130g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 130,
    width: 64,
    height: 88,
    price: 0.3189,
    name: "Carton Dublu Cretat Mat 130g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 130,
    width: 45,
    height: 64,
    price: 0.1631,
    name: "Carton Dublu Cretat Mat 130g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 150,
    width: 70,
    height: 100,
    price: 0.4573,
    name: "Carton Dublu Cretat Mat 150g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 150,
    width: 64,
    height: 88,
    price: 0.3679,
    name: "Carton Dublu Cretat Mat 150g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 150,
    width: 45,
    height: 64,
    price: 0.1882,
    name: "Carton Dublu Cretat Mat 150g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 170,
    width: 70,
    height: 100,
    price: 0.5183,
    name: "Carton Dublu Cretat Mat 170g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 170,
    width: 64,
    height: 88,
    price: 0.417,
    name: "Carton Dublu Cretat Mat 170g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 170,
    width: 45,
    height: 64,
    price: 0.2132,
    name: "Carton Dublu Cretat Mat 170g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 200,
    width: 70,
    height: 100,
    price: 0.6098,
    name: "Carton Dublu Cretat Mat 200g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 200,
    width: 64,
    height: 88,
    price: 0.4906,
    name: "Carton Dublu Cretat Mat 200g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 200,
    width: 45,
    height: 64,
    price: 0.2509,
    name: "Carton Dublu Cretat Mat 200g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 250,
    width: 70,
    height: 100,
    price: 0.783,
    name: "Carton Dublu Cretat Mat 250g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 250,
    width: 64,
    height: 88,
    price: 0.63,
    name: "Carton Dublu Cretat Mat 250g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 250,
    width: 45,
    height: 64,
    price: 0.3222,
    name: "Carton Dublu Cretat Mat 250g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 300,
    width: 70,
    height: 100,
    price: 0.9396,
    name: "Carton Dublu Cretat Mat 300g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 300,
    width: 64,
    height: 88,
    price: 0.756,
    name: "Carton Dublu Cretat Mat 300g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 300,
    width: 45,
    height: 64,
    price: 0.3866,
    name: "Carton Dublu Cretat Mat 300g 45x64"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 350,
    width: 70,
    height: 100,
    price: 1.1254,
    name: "Carton Dublu Cretat Mat 350g 70x100"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 350,
    width: 64,
    height: 88,
    price: 0.9055,
    name: "Carton Dublu Cretat Mat 350g 64x88"
  },
  {
    category: "Carton Dublu Cretat Mat",
    weight: 350,
    width: 45,
    height: 64,
    price: 0.463,
    name: "Carton Dublu Cretat Mat 350g 45x64"
  },
  {
    category: "Hartie Offset",
    weight: 54,
    width: 61,
    height: 86,
    price: 0.1429,
    name: "Hartie Offset 54g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 54,
    width: 70,
    height: 100,
    price: 0.1907,
    name: "Hartie Offset 54g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 55,
    width: 61,
    height: 86,
    price: 0.1456,
    name: "Hartie Offset 55g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 55,
    width: 70,
    height: 100,
    price: 0.1943,
    name: "Hartie Offset 55g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 56,
    width: 61,
    height: 86,
    price: 0.1482,
    name: "Hartie Offset 56g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 56,
    width: 70,
    height: 100,
    price: 0.1978,
    name: "Hartie Offset 56g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 60,
    width: 61,
    height: 86,
    price: 0.1543,
    name: "Hartie Offset 60g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 60,
    width: 70,
    height: 100,
    price: 0.2059,
    name: "Hartie Offset 60g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 70,
    width: 61,
    height: 86,
    price: 0.1748,
    name: "Hartie Offset 70g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 70,
    width: 70,
    height: 100,
    price: 0.2332,
    name: "Hartie Offset 70g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 80,
    width: 61,
    height: 86,
    price: 0.2018,
    name: "Hartie Offset 80g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 80,
    width: 70,
    height: 100,
    price: 0.2692,
    name: "Hartie Offset 80g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 90,
    width: 61,
    height: 86,
    price: 0.227,
    name: "Hartie Offset 90g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 90,
    width: 70,
    height: 100,
    price: 0.3029,
    name: "Hartie Offset 90g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 100,
    width: 61,
    height: 86,
    price: 0.2522,
    name: "Hartie Offset 100g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 100,
    width: 70,
    height: 100,
    price: 0.3365,
    name: "Hartie Offset 100g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 120,
    width: 61,
    height: 86,
    price: 0.3026,
    name: "Hartie Offset 120g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 120,
    width: 70,
    height: 100,
    price: 0.4038,
    name: "Hartie Offset 120g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 140,
    width: 61,
    height: 86,
    price: 0.3356,
    name: "Hartie Offset 140g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 140,
    width: 70,
    height: 100,
    price: 0.4478,
    name: "Hartie Offset 140g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 170,
    width: 61,
    height: 86,
    price: 0.4075,
    name: "Hartie Offset 170g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 170,
    width: 70,
    height: 100,
    price: 0.5438,
    name: "Hartie Offset 170g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 190,
    width: 61,
    height: 86,
    price: 0.4792,
    name: "Hartie Offset 190g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 190,
    width: 70,
    height: 100,
    price: 0.6394,
    name: "Hartie Offset 190g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 250,
    width: 61,
    height: 86,
    price: 0.6305,
    name: "Hartie Offset 250g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 250,
    width: 70,
    height: 100,
    price: 0.8413,
    name: "Hartie Offset 250g 70x100"
  },
  {
    category: "Hartie Offset",
    weight: 300,
    width: 61,
    height: 86,
    price: 0.7566,
    name: "Hartie Offset 300g 61x86"
  },
  {
    category: "Hartie Offset",
    weight: 300,
    width: 70,
    height: 100,
    price: 1.0096,
    name: "Hartie Offset 300g 70x100"
  }
];
</script>
