<template>
  <div>
    <Controls/>
    <ElCard style="margin-top: 20px;">
      <div
        ref="canvas"
        class="canvas"
        :class="{ connecting: connectingNodeId, dragging: draggingNodeId }"
        @mousemove="mouseMove"
        @mousedown="mouseDown"
        @mouseup="mouseUp"
        @mouseover.stop="hoveredNodeId = null"
      >
        <NodesContainer :scale="scale" :origin="origin">
          <Node
            v-for="(node, nodeId) in nodes"
            :key="`node-${nodeId}`"
            :data="node"
            :selected="isNodeSelected(nodeId)"
            @nodeRef="setNodeRef(nodeId, $event)"
            @mouseover.native.stop="hoveredNodeId = nodeId"
          />
        </NodesContainer>
        <EdgesContainer :scale="scale" :origin="origin">
          <Edge
            v-for="{ fromId, toId } in edges"
            :key="`edge-${fromId}-${toId}`"
            :from="$nodeRefs[fromId]"
            :to="$nodeRefs[toId]"
            :selected="isEdgeSelected(fromId, toId)"
            @click.native="selectEdge(fromId, toId)"
          ></Edge>
          <NewEdge
            :from="$nodeRefs[connectingNodeId]"
            :to="$nodeRefs[hoveredNodeId]"
            :mousePosition="mousePosition"
          ></NewEdge>
        </EdgesContainer>
      </div>
    </ElCard>
  </div>
</template>

<script>
import Edge from "@/components/projects/diagram/Edge";
import Node from "@/components/projects/diagram/Node";
import NewEdge from "@/components/projects/diagram/NewEdge";
import Controls from "@/components/projects/diagram/Controls";
import EdgesContainer from "@/components/projects/diagram/EdgesContainer";
import NodesContainer from "@/components/projects/diagram/NodesContainer";

export default {
  props: ["nodes", "selection"],
  components: {
    Edge,
    Node,
    NewEdge,
    Controls,
    EdgesContainer,
    NodesContainer
  },
  created() {
    this.$nodeRefs = {};
    document.addEventListener("keydown", this.keyDown);
    document.addEventListener("keyup", this.keyUp);
  },
  mounted() {
    this.$forceUpdate();
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.keyDown);
    document.removeEventListener("keyup", this.keyUp);
  },
  data() {
    return {
      scale: 1,
      insertMode: false,
      hoveredNodeId: null,
      draggingNodeId: null,
      connectingNodeId: null,
      origin: { x: 0, y: 0 },
      mousePosition: { x: null, y: null }
    };
  },
  computed: {
    edges() {
      const edges = [];
      for (const fromId in this.nodes) {
        for (const toId in this.nodes[fromId].dependencies) {
          edges.push({ fromId, toId });
        }
      }
      return edges;
    }
  },
  methods: {
    // dom events
    keyDown(event) {
      if (event.key === "Shift") {
        this.insertMode = true;
      }
      if (
        (event.key === "Backspace" || event.key === "Delete") &&
        ["INPUT", "TEXTAREA"].indexOf(event.target.tagName) === -1
      ) {
        this.deleteSelection();
      }
    },
    keyUp(event) {
      if (event.key === "Shift") {
        this.insertMode = false;
      }
    },
    mouseMove(event) {
      this.updateMousePosition(event);
      if (this.draggingNodeId) {
        this.updateDragging();
      }
    },
    mouseDown() {
      if (this.hoveredNodeId && this.insertMode) {
        this.startConnecting(this.hoveredNodeId);
      }
      if (this.hoveredNodeId && !this.insertMode) {
        this.startDragging(this.hoveredNodeId);
      }
      if (!this.hoveredNodeId && this.insertMode) {
        this.createNode();
      }
      if (!this.hoveredNodeId && !this.insertMode) {
        this.removeSelection();
      }
    },
    mouseUp() {
      if (this.connectingNodeId) {
        this.finishConnecting(this.hoveredNodeId);
      }
      if (this.draggingNodeId) {
        this.finishDragging();
      }
    },
    // connecting
    startConnecting(fromId) {
      this.selectNode(fromId);
      this.connectingNodeId = fromId;
    },
    finishConnecting(toId) {
      if (toId && toId !== this.connectingNodeId) {
        this.$emit("createEdge", this.connectingNodeId, toId);
      }
      this.connectingNodeId = null;
    },
    // dragging
    startDragging(nodeId) {
      this.selectNode(nodeId);
      this.mouseOffset = {
        x: this.mousePosition.x - this.nodes[nodeId].position.x,
        y: this.mousePosition.y - this.nodes[nodeId].position.y
      };
      this.draggingNodeId = nodeId;
    },
    updateDragging() {
      this.$emit("moveNode", this.draggingNodeId, {
        x: this.mousePosition.x - this.mouseOffset.x,
        y: this.mousePosition.y - this.mouseOffset.y
      });
    },
    finishDragging() {
      this.$emit("dragStop");
      this.draggingNodeId = null;
    },
    // creating
    createNode() {
      this.$emit("createNode", {
        x: this.mousePosition.x,
        y: this.mousePosition.y
      });
    },
    // selection
    deleteSelection() {
      this.removeSelection();
      if (this.selection && this.selection.nodeId) {
        this.$emit("deleteNode", this.selection.nodeId);
      }
      if (this.selection && this.selection.fromId) {
        this.$emit("deleteEdge", this.selection.fromId, this.selection.toId);
      }
    },
    removeSelection() {
      this.$emit("update:selection", null);
    },
    selectEdge(fromId, toId) {
      this.$emit("update:selection", { fromId, toId });
    },
    selectNode(nodeId) {
      this.$emit("update:selection", { nodeId });
    },
    isEdgeSelected(fromId, toId) {
      return (
        this.selection &&
        this.selection.fromId === fromId &&
        this.selection.toId === toId
      );
    },
    isNodeSelected(nodeId) {
      return this.selection && this.selection.nodeId === nodeId;
    },
    // miscelaneous
    updateMousePosition(event) {
      const bounds = this.$refs.canvas.getBoundingClientRect();
      this.mousePosition.x = (event.clientX - bounds.x) / this.scale;
      this.mousePosition.y = (event.clientY - bounds.y) / this.scale;
    },
    setNodeRef(nodeId, ref) {
      this.$nodeRefs[nodeId] = ref;
    }
  }
};
</script>

<style>
.canvas {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 800px;
}
.canvas svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* edge */
.canvas .edge {
  cursor: pointer;
  pointer-events: all;
}
.canvas.dragging .edge,
.canvas.connecting .edge {
  cursor: default;
  pointer-events: none;
}
.canvas .edge line:nth-child(1) {
  stroke-linecap: round;
  stroke: #8795a1;
  stroke-width: 3;
  marker-start: url(#dot);
}
.canvas .edge line:nth-child(2) {
  stroke: transparent;
  stroke-width: 14;
}
.canvas .edge.selected line:nth-child(1),
.canvas .edge:hover line:nth-child(1) {
  stroke: green;
  stroke-width: 4;
}
/* node */
.canvas .node {
  position: absolute;
  z-index: 1;
  display: inline-block;
  cursor: move;
  user-select: none;
  background: #dae1e7;
  border: 2px solid #b8c2cc;
  border-radius: 5px;
  padding: 10px 20px;
}
.canvas .node.selected {
  z-index: 2;
  border: 2px solid #606f7b;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
</style>
