<template>
  <div>
    <ElSwitch class="mr-2" v-model="$parent.insertMode"/>
    <ElButtonGroup class="mr-2">
      <ElButton @click="$parent.scale -= 0.1">
        <i class="el-icon-minus"></i>
      </ElButton>
      <ElButton @click="$parent.scale += 0.1">
        <i class="el-icon-plus"></i>
      </ElButton>
    </ElButtonGroup>
    <ElButtonGroup class="mr-2">
      <ElButton @click="$parent.origin.x += 50">
        <i class="el-icon-arrow-left"></i>
      </ElButton>
      <ElButton @click="$parent.origin.x -= 50">
        <i class="el-icon-arrow-right"></i>
      </ElButton>
    </ElButtonGroup>
    <ElButtonGroup class="mr-2">
      <ElButton @click="$parent.origin.y += 50">
        <i class="el-icon-arrow-up"></i>
      </ElButton>
      <ElButton @click="$parent.origin.y -= 50">
        <i class="el-icon-arrow-down"></i>
      </ElButton>
    </ElButtonGroup>
  </div>
</template>
