<template>
  <svg xmlns="http://www.w3.org/2000/svg" :viewBox="getViewBox()">
    <defs>
      <marker id="dot" markerWidth="10" markerHeight="10" refX="5" refY="5">
        <circle cx="5" cy="5" r="2" fill="#2779BD"></circle>
      </marker>
    </defs>
    <slot></slot>
  </svg>
</template>

<script>
export default {
  props: ["scale", "origin"],
  methods: {
    getViewBox() {
      const scale = `${800 / this.scale} ${800 / this.scale}`;
      const origin = `${this.origin.x} ${this.origin.y}`;
      return `${origin} ${scale}`;
    }
  }
};
</script>
