<template>
  <g class="edge" :class="{ selected }" v-if="this.from && this.to">
    <line v-bind="coordinates"></line>
    <line v-bind="coordinates"></line>
  </g>
</template>

<script>
export default {
  props: ["from", "to", "selected"],
  computed: {
    coordinates() {
      const { x: x1, y: y1 } = this.from.getExitPoint();
      const { x: x2, y: y2 } = this.to.getEntryPoint();

      return { x1, y1, x2, y2 };
    }
  }
};
</script>
