<template>
  <g class="edge selected" v-if="this.from">
    <line v-bind="coordinates"/>
  </g>
</template>

<script>
export default {
  props: ["from", "to", "mousePosition"],
  computed: {
    coordinates() {
      const fullEdge = this.to && this.to !== this.from;
      const { x: x1, y: y1 } = this.from.getExitPoint();
      const { x: x2, y: y2 } = fullEdge
        ? this.to.getEntryPoint()
        : this.mousePosition;

      return { x1, y1, x2, y2 };
    }
  }
};
</script>
