<template>
  <div :style="getStyles()">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: ["scale", "origin"],
  methods: {
    getStyles() {
      const scale = `scale(${this.scale})`;
      const translate = `translate(${-this.origin.x}px, ${-this.origin.y}px)`;
      return { transform: `${scale} ${translate}`, "transform-origin": "0 0" };
    }
  }
};
</script>
