<template>
  <div
    v-if="data"
    :class="{ selected, node: true }"
    :style="{ transform: `translate(${data.position.x}px, ${data.position.y}px)`, 'text-align': 'center' }"
  >
    <b>{{ data.name }}</b>
    <ResourceLoader
      v-if="data.categoryId"
      :path="`taskCategories/${data.categoryId}`"
      @change="updateSize()"
    >
      <div slot-scope="{ resource: category }">{{ category.data.name }}</div>
    </ResourceLoader>
  </div>
</template>

<script>
export default {
  props: ["data", "selected"],
  data() {
    return {
      size: null
    };
  },
  mounted() {
    this.$emit("nodeRef", this);
    this.updateSize();
  },
  beforeDestroy() {
    this.$emit("nodeRef", null);
  },
  updated() {
    this.updateSize();
  },
  methods: {
    updateSize() {
      this.size = {
        width: this.$el.offsetWidth,
        height: this.$el.offsetHeight
      };
    },
    getExitPoint() {
      return {
        x: this.data.position.x + this.size.width / 2,
        y: this.data.position.y
      };
    },
    getEntryPoint() {
      return {
        x: this.data.position.x + this.size.width / 2,
        y: this.data.position.y + this.size.height
      };
    }
  }
};
</script>
