<template>
  <ElMenu
    mode="horizontal"
    :router="true"
    :default-active="$route.path"
    background-color="#58ACFA"
    text-color="#fff"
    active-text-color="#FFF382"
  >
    <ElMenuItem class="logo" style="width:300px;" index="/">New Window</ElMenuItem>
    <ElMenuItem index="/projects">Lucrari</ElMenuItem>
    <ElMenuItem index="/clients">Clienti</ElMenuItem>
    <!-- <ElMenuItem index="/tasks">Sarcini</ElMenuItem> -->
    <!-- <ElMenuItem index="/calculator">Calculator</ElMenuItem> -->
    <ElMenuItem v-if="!isMobile" index="/materials">Materiale</ElMenuItem>
    <ElMenuItem v-if="!isMobile" index="/services">Servicii</ElMenuItem>
    <!-- <ElMenuItem index="/suppliers">Furnizori</ElMenuItem> -->
    <ElMenuItem index="/logout" @click="logout">Logout</ElMenuItem>
  </ElMenu>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$auth().signOut();
      this.$router.push({ path: "/projects" });
    }
  },
  computed: {
    isMobile() {
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      }
      return false;
    }
  }
};
</script>
