<template>
  <div>
    <router-view v-if="$store.user"/>
    <Auth v-if="!$store.user && !$store.userLoading"/>
    <div v-if="$store.userLoading">loading</div>
  </div>
</template>

<script>
import Auth from "@/views/Auth.vue";

export default {
  components: {
    Auth
  },
  created() {
    this.$auth().onAuthStateChanged(user => {
      this.$store.user = user;
      this.$store.userLoading = false;
    });
  },
  async addSeedEmployees() {
    const response = await fetch(
      "https://randomuser.me/api/?results=30&nat=us"
    );
    const data = await response.json();

    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    };

    data.results.forEach(user => {
      const profile = {
        name: `${user.name.first.capitalize()} ${user.name.last.capitalize()}`,
        pictureUrl: user.picture.large
      };
      this.$firestore()
        .collection("employees")
        .add(profile);
    });
  }
};
</script>
