body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e7eef3;
  margin: 0;
}

.el-menu {
  border-bottom: none !important;
}

.block {
  display: block !important;
}

.el-menu-item.logo {
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
}

.ma-5 {
  margin: 20px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-5 {
  margin-right: 20px;
}

.mx-5 {
  margin-left: 20px;
  margin-right: 20px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.pa-5 {
  padding: 20px;
}

.pl-5 {
  padding-left: 20px;
}

.flex {
  display: flex;
}

.stretch {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.login-form {
  margin: 100px auto;
  width: 300px;
}
