<template>
  <ElTable
    v-if="collection"
    v-bind="$attrs"
    :data="filteredCollection"
    row-key="id"
    style="width: 100%"
  >
    <slot />
  </ElTable>
  <div v-else>loading</div>
</template>

<script>
export default {
  props: {
    query: {
      type: Object
    },
    filter: {
      type: Function,
      default: () => true
    }
  },
  data() {
    return {
      collection: null
    };
  },
  created() {
    this.$bind("collection", this.query);
  },
  watch: {
    query() {
      this.$bind("collection", this.query);
    }
  },
  computed: {
    filteredCollection() {
      if (!this.collection) return this.collection;
      return this.collection.filter(row => this.filter(row));
    }
  }
};
</script>
