<template>
  <ElTooltip :content="tooltip">
    <span style="cursor: default;">{{ distance }}</span>
  </ElTooltip>
</template>

<script>
import { format, formatDistanceStrict } from "date-fns";
import locale from "date-fns/locale/ro";

export default {
  props: ["date"],
  data() {
    return {
      base: new Date()
    };
  },
  created() {
    this.interval = setInterval(() => {
      this.base = new Date();
    }, 1000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  computed: {
    distance() {
      return (
        "acum " +
        formatDistanceStrict(this.date, this.base, {
          locale
        })
      );
    },
    tooltip() {
      return format(this.date, "dd/MM/yyyy HH:mm");
    }
  }
};
</script>
